<header class="full-width">
     <nav class="breakout">
        <ul class="menu">
            <li><a href="#perche">Perchè</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#aboutme">About Me</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#contatti">Contatti</a></li>
        </ul>
    </nav>
  <div class="backdrop full-width"></div>
  <div class="backdrop-edge full-width"></div>
</header>