<header x-data class="header__desktop full-width">
  <div class="header__logo">
 
    <a href="/webdev/#">
      <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 254.8 88.56">
       
        <g class="header__logo-text">
      <text  transform="translate(3.16 33.26)"><tspan x="0" y="0">Made By Shu</tspan></text>
      <text  transform="translate(38.47 80.53)"><tspan x="0" y="0">Web Design</tspan></text>
      <g class="header__logo-line">
        <polyline  points="3 45.56 7.52 44.38 12.04 46.24 16.57 45.09 21.09 44.81 25.61 45.11 30.13 44.45 34.65 44.68 39.18 45.75 43.7 46.02 48.22 46.05 52.74 44.65 57.26 45.09 61.78 46.02 66.3 44.34 70.82 45.73 75.34 45.78 79.86 44.89 84.38 44.59 88.9 45.77 93.42 46.08 97.94 45.21 102.47 44.91 106.99 45.06 111.51 44.85 116.03 44.9 120.55 45.04 125.07 45.09 129.6 44.35 134.12 45.1 138.64 46.06 143.17 45.11 147.69 45.14 152.21 45 156.74 45.04 161.26 45.71 165.79 44.39 170.31 44.33 174.84 45.43 179.36 45.43 183.89 46.14 188.41 45.24 192.94 45.23 197.46 45.73 201.99 44.85 206.51 46.16 211.04 45.86 215.56 44.52 220.09 44.79 224.62 45.49 229.14 45.58 233.67 45.36 238.2 44.57 242.73 45.6 247.26 44.56 251.8 44.47"/>
        <polyline  points="3 45.56 7.52 44.38 12.04 46.24 16.57 45.09 21.09 44.81 25.61 45.11 30.13 44.45 34.65 44.68 39.18 45.75 43.7 46.02 48.22 46.05 52.74 44.65 57.26 45.09 61.78 46.02 66.3 44.34 70.82 45.73 75.34 45.78 79.86 44.89 84.38 44.59 88.9 45.77 93.42 46.08 97.94 45.21 102.47 44.91 106.99 45.06 111.51 44.85 116.03 44.9 120.55 45.04 125.07 45.09 129.6 44.35 134.12 45.1 138.64 46.06 143.17 45.11 147.69 45.14 152.21 45 156.74 45.04 161.26 45.71 165.79 44.39 170.31 44.33 174.84 45.43 179.36 45.43 183.89 46.14 188.41 45.24 192.94 45.23 197.46 45.73 201.99 44.85 206.51 46.16 211.04 45.86 215.56 44.52 220.09 44.79 224.62 45.49 229.14 45.58 233.67 45.36 238.2 44.57 242.73 45.6 247.26 44.56 251.8 44.47"/>
      </g>
        </g>
      </svg>
    </a>
  </div>
  <nav class="desktop__nav breakout">
    <%- include('./navmenu.ejs') %>
   
  </nav>
 <%- include('./navicons.ejs') %>
  <div class="backdrop full-width"></div>
  <!-- <div class="backdrop-edge full-width"></div> -->
</header>


<div x-data class="mobile__nav-icons">
   <%- include('./navicons.ejs') %>
</div>

<nav x-data
  x-init="menuToggles()"
class="mobile__nav">
  <%- include('./navmenu.ejs') %>
  <a
  class="mobile__nav-logo" 
  href="/webdev/#">
       
    <!-- <a href="#hero"
      >Made By Shu <br/> <span id="header__span">Web Development</span></a
    > -->
    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 254.8 88.56">
 
  <g class="header__logo-text">
    <text  transform="translate(3.16 33.26)"><tspan x="0" y="0">Made By Shu</tspan></text>
    <text  transform="translate(38.47 80.53)"><tspan x="0" y="0">Web Design</tspan></text>
    <g class="header__logo-line">
      <polyline  points="3 45.56 7.52 44.38 12.04 46.24 16.57 45.09 21.09 44.81 25.61 45.11 30.13 44.45 34.65 44.68 39.18 45.75 43.7 46.02 48.22 46.05 52.74 44.65 57.26 45.09 61.78 46.02 66.3 44.34 70.82 45.73 75.34 45.78 79.86 44.89 84.38 44.59 88.9 45.77 93.42 46.08 97.94 45.21 102.47 44.91 106.99 45.06 111.51 44.85 116.03 44.9 120.55 45.04 125.07 45.09 129.6 44.35 134.12 45.1 138.64 46.06 143.17 45.11 147.69 45.14 152.21 45 156.74 45.04 161.26 45.71 165.79 44.39 170.31 44.33 174.84 45.43 179.36 45.43 183.89 46.14 188.41 45.24 192.94 45.23 197.46 45.73 201.99 44.85 206.51 46.16 211.04 45.86 215.56 44.52 220.09 44.79 224.62 45.49 229.14 45.58 233.67 45.36 238.2 44.57 242.73 45.6 247.26 44.56 251.8 44.47"/>
      <polyline  points="3 45.56 7.52 44.38 12.04 46.24 16.57 45.09 21.09 44.81 25.61 45.11 30.13 44.45 34.65 44.68 39.18 45.75 43.7 46.02 48.22 46.05 52.74 44.65 57.26 45.09 61.78 46.02 66.3 44.34 70.82 45.73 75.34 45.78 79.86 44.89 84.38 44.59 88.9 45.77 93.42 46.08 97.94 45.21 102.47 44.91 106.99 45.06 111.51 44.85 116.03 44.9 120.55 45.04 125.07 45.09 129.6 44.35 134.12 45.1 138.64 46.06 143.17 45.11 147.69 45.14 152.21 45 156.74 45.04 161.26 45.71 165.79 44.39 170.31 44.33 174.84 45.43 179.36 45.43 183.89 46.14 188.41 45.24 192.94 45.23 197.46 45.73 201.99 44.85 206.51 46.16 211.04 45.86 215.56 44.52 220.09 44.79 224.62 45.49 229.14 45.58 233.67 45.36 238.2 44.57 242.73 45.6 247.26 44.56 251.8 44.47"/>
    </g>
  </g>
</svg>
 
  </a>
  
</nav>
