<dialog x-data="{ consentGiven: false }" id='dialog' x-ref="modal">
  <div class="contact__modal">
    <form
     hx-post="/webdev/form"
     hx-target=".contact__modal"
     hx-swap="outerHTML">
      <div class="form__row">
        <label for="firstName"></label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          placeholder="First Name"
          required
        />
        <label for="lastName"></label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          placeholder="Last Name"
          required
        />
      </div>
      <label for="email"></label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        autocomplete="email"
        required
      />
      <!-- <label for="package">I am interested in:</label>
      <select
        name="package"
        id="package"
        x-model="$store.packages.selectedPackage"
      >
        <option value="root">Root</option>
        <option value="seed">Seed</option>
        <option value="growth">Growth</option>
        <option value="flourish">Flourish</option>
      </select> -->
      
      <div x-show="$store.packages.showPackageSelector">
        <p>I am interested in:</p>
        <div class="boxes"  >
          <label class="invis">
            <input
             type="radio"
             name="package"
             value="message"
             checked
             />
             <div class="form-message box">
              <span>Message</span>
             </div>
          </label>
          <label>
            <input
             type="radio"
             name="package"
             value="seed"
             />
             <div class="form-seed box">
              <span>Seed</span>
             </div>
          </label>
          <label>
            <input
             type="radio"
             name="package"
             value="bud"
             />
             <div class="form-bud box">
              <span>Bud</span>
             </div>
          </label>
          <label>
            <input
             type="radio"
             name="package"
             value="growth"
             />
             <div class="form-growth box">
              <span>Growth</span>
             </div>
          </label>
          <label>
            <input
             type="radio"
             name="package"
             value="flourish"
             />
             <div class="form-flourish box">
              <span>Flourish</span>
             </div>
          </label>
        </div>
      </div>
      
 


      <label for="message"></label>
      <textarea
        name="message"
        id="message"
        placeholder="Your Message"
        required
      ></textarea>
       <div>
         <label for="privacyConsent">
           <input type="checkbox" id="privacyConsent" name="privacyConsent"
               @change="consentGiven = $event.target.checked" required>

             I accept the <a href="/privacypolicy" target="_blank" rel="noopener">privacy policy</a>.
           </label>
       </div>

      <div class="cf-turnstile" data-sitekey="0x4AAAAAAB3zG1a4FF36sEjH"></div>
      <div class="wrapper">
        <button
        class="pushable" :disabled="!consentGiven">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front"> Submit</span>
        </button>
      </div>
    </form>
    <div class="modal__text">
      <h4 class="subsection__header">I’d love to hear from you</h4>
      <p>
        Whether you have a full vision or just a question, drop me a message and I’ll reply soon—personally, and with care.

      </p>
      <p>
       Your details stay private and secure, always. I usually respond within 1–2 business days.
      </p>
      <!-- <img class="modal__img "src="../Shu/portrait thinking.png" alt=""> -->
     <svg xmlns="http://www.w3.org/2000/svg" class="modal__portrait-svg" viewBox="0 0 938.76 1471.61">
  <defs>
    <style>
      .v, .w, .x {
        stroke-linecap: round;
      }

      .v, .w, .x, .y {
        stroke: #1d1d1b;
        stroke-width: 7px;
      }

      .v, .w, .y {
        fill: #fff;
      }

      .v, .x, .y {
        stroke-linejoin: round;
      }

      .w {
        stroke-miterlimit: 10;
      }

      .x {
        fill: none;
      }

      .z {
        fill: #1d1d1b;
      }
    </style>
  </defs>
  <g id="c" data-name="Livello 2">
    <path id="d" data-name="collo" class="v" d="M579.5,476.18c1.16,3.9-.12,4.21-1.13,31.06-.82,21.8-1.22,32.7,0,37.27,6.2,23.16,26.6,23.12,35.58,45.18,6.88,16.91,1.68,33.64-2.26,46.31-13.66,43.92-53.25,66.69-64.94,73.41-72.9,41.92-151.73,12.26-165.46,6.78-19.84-7.92-56.8-22.68-73.41-58.73-8.67-18.8-13.53-47.16-3.95-63.81,3.95-6.86,9.04-12.42,9.04-12.42,8.92-9.75,14.56-10.22,20.33-16.94,4.67-5.44,5.8-10.74,8.47-25.98,5.32-30.29,5.67-36.68,6.78-41.22,8.46-34.66,82.49-50.06,132.14-50.82,4.27-.07,89.67-.75,98.82,29.93Z"/>
    <path id="e" data-name="shirt middle" class="y" d="M785.52,1469.44c-5.43-57.39-10.85-114.78-16.28-172.18-15.36-54.8-24.79-101.48-30.72-135.82-24.67-142.91-19.47-249.98-18.05-275.06,2.57-45.42,7.52-82.76,11.5-108.08-15.99,143.36-18.24,175.46-16.94,175.62,1.57.2,6.7-46.79,25.49-111.48,27.11-93.31,54.53-126.64,84.06-145.46,8.03-5.12,15.16-8.49,19.94-10.54-5.63-4.58-14.33-11.24-25.59-18.26-30.56-19.05-57.02-26.37-71.41-30.74-23.85-7.25-58.19-19.66-101.61-42.15-1.98,7.67-5.2,18.57-10.39,31.15-8.43,20.43-27.94,67.69-72.96,97.08-60.84,39.71-131.06,22.52-158.04,15.92-33.2-8.13-52.24-20.75-57-24-11.25-7.69-42.49-29.72-56.02-71.54-6.97-21.56-6.69-40.49-5.65-51.95-18.45,7.8-36.9,15.63-55.33,23.49-46.61,19.89-93.13,39.98-139.55,60.28,11.31,10.89,22.68,23.4,33.55,37.72,54.66,72.01,67.2,151.1,70,199-42.27-74.6-52.44-93.29-52.11-93.48.55-.32,35.22,45.8,50.26,114.07.97,4.41,3.05,14.31,6.21,41.22,6.49,55.24,7.37,95.62,8.64,144.19,3.17,121.72,5.07,154.26-16,166-6.8,3.79-13.91,4.25-19,4-.69,14.07-1.38,28.14-2.08,42.21-2.31,46.93-4.62,93.86-6.92,140.79"/>
    <g id="f" data-name="braccia destra">
      <path class="v" d="M31.17,988.37c6.34-5.17,39.32-31,84.71-25.41,40.5,4.99,75.49,33.1,91.48,72.85v94.87c-12.48,1.82-24.95,3.63-37.43,5.45,22.92-2.65,52.22-3.77,85.43.76,4.9.67,12.7,2.18,28.32,5.16,34.37,6.55,53.19,11.11,64.85,13.48,32.44,6.58,58.35,6.15,88.09,5.65,24.74-.42,78.84-3.05,144.56-22.02,68.33-19.72,121.65-49.14,159-74.16,8.11,12.02,15.99,24.19,23.89,36.35-35.07,25.35-9.42,81.55-49.62,114.61-11.94,9.82-33.37,15.21-76.24,25.98-24.09,6.05-28.31,5.43-56.47,11.29-53.48,11.14-65.5,19.08-112.38,29.93-14.86,3.44-38.26,7.04-85.06,14.24-99.93,15.38-135.87,17.66-152.11,18.51-20.66,1.08-43.15,1.59-70.02,0-29.07-1.72-43.6-2.58-52.66-5.68-55.27-18.87-69.42-118.78-77.22-173.9-4.78-33.79-8.81-84.86-1.13-147.95Z"/>
      <path class="v" d="M743.83,988.37c22.36-8.13,39.29-6.28,48-4.52,1.69.34.18.1,38.4,15.81,0,0,8.66,3.56,22.59,12.99,7.43,5.03,10.58,8,10.73,11.86.16,4.15-3.21,8.28-6.78,10.16-9.31,4.91-21.99-4.45-32.75-10.16-12.23-6.49-31.38-13.28-60.42-12.42"/>
      <path class="v" d="M755.69,1018.86c3.19-7.98,18.42-8.81,22.59-9.04,9.47-.52,14.84,1.96,43.48,14.12,19.5,8.28,23.53,9.9,29.93,14.68,4.32,3.23,21.09,15.75,18.07,24.28-1.34,3.78-6.28,5.97-10.16,6.21-6.04.37-9.22-4.09-15.81-8.47-10.45-6.94-21.1-8.12-29.36-9.04-15.63-1.73-17.06,3.7-27.67,1.69-18.58-3.52-35.18-24.14-31.06-34.45Z"/>
      <path class="v" d="M787.88,1060.09c.37-2.21-9.87-4.2-9.6-6.21.56-4.22,47.38-10.15,75.11,14.12,2.89,2.53,12.55,10.98,10.41,16.84-1.93,5.29-13.08,7.3-28.09,5.26-38.43-16.98-55.69-16.38-64.2-11.93-1.3.68-5.61,3.13-11.29,2.82-10.93-.59-21.66-11.09-20.01-16,2.99-8.88,46.91-.32,47.68-4.9Z"/>
    </g>
    <g id="g" data-name="right sleeve">
      <path class="y" d="M88.77,676.65c10.24,7.89,25.42,20.98,40.09,40.09,28.37,36.95,37.71,74.1,51.95,133.27,5.01,20.83,11.25,49.98,16.27,85.51-4.6-17.53-11.33-38.01-21.36-60.1-10.69-23.55-22.51-43.12-33.32-58.73,15.06,19.18,37.47,52.8,50.26,99.95,10.3,38,10.61,70.96,9.04,93.18-23.68-14.16-63.81-33.81-116.89-40.09-30.21-3.57-56.5-1.86-76.8,1.13,2.04-24.25,5.31-55.82,10.73-92.61,4.15-28.17,8.42-48.9,16.94-90.35,9.39-45.65,15.14-67.85,32.75-90.35,7.55-9.64,15.08-16.53,20.33-20.89Z"/>
      <path class="y" d="M27.22,1019.99c-4.19,2.23-14.12-5.28-23.72-19.2,7.9-1.65,15.79-3.31,23.69-4.96,3.37,11.78,3.85,22.13.03,24.16Z"/>
      <path class="y" d="M198.32,1006.44c-19.42-11.11-48.67-24.92-86.4-32.75-43.45-9.02-80.26-6.39-103.91-2.82-1.51,9.22-3.01,18.45-4.52,27.67,12.3-1.93,29.35-3.79,49.69-3.39,14.56.29,48.79,2.09,89.79,16.38,15.44,5.38,35.83,13.92,58.16,27.67-.94-10.92-1.88-21.84-2.82-32.75Z"/>
    </g>
    <path id="h" data-name="neckpiece" class="y" d="M614.98,582.98c8.88,3.93,17.76,7.86,26.64,11.78-.18,6.01-.8,14.44-2.82,24.28-11.67,56.73-55.36,89.69-63.25,95.44-50.33,36.67-106.33,31.3-138.35,28.24-23.96-2.3-57.16-5.89-90.35-29.36-10.57-7.47-36.17-26.09-50.82-61.55-11.32-27.39-10.81-52.01-9.6-64.94,8.28-1.88,16.56-3.76,24.85-5.65-.5,11.5.13,30.26,7.91,51.39,5.02,13.64,20.59,48.87,57.6,68.33,26.82,14.11,51.15,12.7,85.27,10.73,30.13-1.74,57.47-3.32,84.14-18.64,53.46-30.7,66.17-94.74,68.8-110.04Z"/>
    <g id="i" data-name="face">
      <g id="j" data-name="face-partly">
        <g id="k" data-name="orecchie">
          <path class="w" d="M335.97,289.12c8.08,4.4,12.16,4.05,14.4,2.54,9.13-6.16,3.76-42.77-18.65-56.53-2.65-1.63-14.01-8.6-24.42-4.42-12.94,5.19-15.69,24.1-17.5,37.09-3.56,25.59,3.63,46.82,7.68,58.39,3.15,8.98,6.6,16.19,9.26,21.24,3.38-3.39,7.82-8.44,11.93-15.25,5.1-8.44,15.3-25.36,10.94-45.17-4.12-18.71-18.86-29.19-23.44-32.19"/>
        </g>
        <g id="l" data-name="contorno faccia">
          <path class="v" d="M384.68,66.77c-8.93-5.11-29.17,12.09-39.53,25.41-15.57,20.03-16.86,41.69-18.64,80.75-1.55,34.08-3.06,67.26,4.17,68.79,16.68,3.51,77.52-161.49,53.99-174.95Z"/>
          <path class="v" d="M632.58,154.86c2.84,2.03,8.98,7.06,10.73,15.25.44,2.05.88,5.58-1.13,13.55-2.85,11.32-6.54,15.37-10.16,24.28-3.92,9.63-4.76,17.54-5.65,25.98-.92,8.7-.22,11.5.56,31.06.71,17.88,1.07,26.82.56,35.01-.9,14.59-3.41,25.47-5.65,35.01-4.47,19.03-7.6,23.05-12.99,42.35-1.79,6.41-2.93,17.57-7.03,34.37-.67,2.76-1.25,4.99-1.44,5.73-2.97,11.43-9.59,38.32-27.67,59.86-15.32,18.25-32.68,26.85-44.61,32.75-24.26,12.01-45.23,14.87-57.04,16.38-15.95,2.04-45.68,5.5-80.75-6.21-15.52-5.18-39.85-13.31-59.86-36.71-17.12-20.03-22.39-41.07-24.85-51.39-4.79-20.13-4.03-37.36,0-66.07,7.2-51.28,13.64-59.42,22.02-106.16,5.04-28.12,7.43-51.49,16.94-98.82,3.37-16.76,10.68-51.35,29.93-58.73,2.8-1.07,9.5-2.97,12.99-9.04,4.04-7.03.9-14.71,0-20.89-2.71-18.6,13.1-35.64,20.89-44.05,22.24-23.98,55.68-24.49,79.06-24.85,36.93-.56,64.03,10.63,87.53,20.33,40.77,16.84,67.05,38.4,78.49,48.56,17.71,15.73,32.26,28.95,41.79,51.95,8.83,21.31,9.03,40.56,9.04,50.82.02,24.81-6.22,44.4-10.16,56.47-4.06,12.42-7.3,18.29-16.38,44.61-2.33,6.76-4.18,12.35-5.37,16-.55,1.68-.83,2.74-1.4,4.33-1.95,5.39-4.25,9.48-5.93,12.14-2.79-.15-6.2.05-9.88,1.13-13.19,3.88-19.26,16.04-20.61,18.92,10.15-16.23,26.08-24.03,37.84-20.05,10.04,3.4,14.52,14.56,16.38,19.2,6.64,16.57,1.17,32.3-.85,38.12-6.98,20.08-21.59,30.75-36.71,41.79-12.79,9.34-19.54,10.82-23.72,11.29-11.92,1.36-21.55-3.34-26.03-5.94"/>
        </g>
        <path class="w" d="M639.36,375.66c5.12-5.44,7.08-10.45,7.91-14.12,2.25-10-2.77-15.32,1.13-23.15,2.62-5.26,7.34-7.82,9.6-9.04,8.79-4.75,17.46-2.84,19.76-2.26"/>
        <path id="m" data-name="naso" class="w" d="M441.71,237.87c.8,11.01-1.37,18.78-3.39,23.72-4.12,10.09-9.11,14.89-19.2,29.36-4.36,6.25-8.96,13.4-13.55,21.46,3.39,10.79,8.83,16.68,12.42,19.76,6.33,5.43,9.78,4.6,33.88,11.86,16.21,4.88,22.02,7.48,24.85,4.52,2.75-2.88.93-9.17-1.13-14.12"/>
        <g id="n" data-name="eye parts">
          <path class="w" d="M502.7,267.8c3.26-2.98,10.17-8.34,19.76-9.04,10.09-.73,17.67,4.1,25.41,9.04,4.66,2.97,11.49,8.08,18.07,16.38"/>
          <path class="w" d="M416.3,256.51c-.73-3.84-3.21-13.98-11.86-19.2-2.89-1.74-6.91-3.21-19.2-2.82-7.74.24-18.64,1.22-31.62,4.52"/>
        </g>
        <g id="o" data-name="hair">
          <path class="w" d="M328.77,373.97c3.58-8.32,11.9-24.13,28.8-32.19,13.46-6.42,26.85-4.74,53.08-1.13,16.2,2.23,31.6,4.35,51.39,11.86,25.1,9.52,47.08,17.86,58.73,39.53,8.3,15.44,7.99,31.39,6.78,41.22"/>
          <path class="w" d="M485.19,398.81c-17.26.95-32.05-.16-43.48-1.69-19.39-2.6-33.69-7.05-41.79-9.6-13.46-4.25-24.68-8.94-33.32-12.99"/>
          <path class="w" d="M449.05,427.05c-17.88-5.08-35.76-10.16-53.65-15.25"/>
          <path class="w" d="M592.49,386.39c-.56,8.47-1.13,16.94-1.69,25.41"/>
          <path class="w" d="M576.11,402.77c-1.69,6.96-3.39,13.93-5.08,20.89"/>
          <path class="w" d="M572.72,440.6l-3.39,24.28"/>
          <path class="w" d="M550.7,455.29c-1.88,7.91-3.76,15.81-5.65,23.72"/>
          <path class="w" d="M550.7,418.58c-1.32,6.4-2.64,12.8-3.95,19.2"/>
          <path class="w" d="M494.23,380.18c2.15,2.29,4.32,5.09,6.21,8.47,8.23,14.73,5.37,30.26,3.95,36.14"/>
          <path class="w" d="M525.29,462.63c-1.88,10.35-3.76,20.71-5.65,31.06"/>
          <path class="w" d="M491.97,433.26c-1.13,7.91-2.26,15.81-3.39,23.72"/>
          <path class="w" d="M467.69,443.43c-1.13,7.15-2.26,14.31-3.39,21.46"/>
          <path class="w" d="M451.88,481.83c-2.26,8.66-4.52,17.32-6.78,25.98"/>
          <path class="w" d="M442.28,449.07c-1.32,7.53-2.64,15.06-3.95,22.59"/>
          <path class="w" d="M420.25,441.17c-1.69,8.09-3.39,16.19-5.08,24.28"/>
          <path class="w" d="M394.28,436.65c-1.13,7.91-2.26,15.81-3.39,23.72"/>
          <path class="w" d="M375.64,424.23c-2.26,6.4-4.52,12.8-6.78,19.2"/>
          <path class="w" d="M363.22,405.59c-2.64,7.91-5.27,15.81-7.91,23.72"/>
          <path class="w" d="M334.42,408.41c-1.32,6.59-2.64,13.18-3.95,19.76"/>
          <path class="w" d="M315.78,394.3c-.75,5.08-1.51,10.16-2.26,15.25"/>
          <path class="w" d="M320.86,349.12c-.75,5.84-1.51,11.67-2.26,17.51"/>
          <path class="w" d="M350.79,368.89c-3.2,8.85-6.4,17.69-9.6,26.54"/>
          <path class="w" d="M366.61,351.38c-1.51,4.71-3.01,9.41-4.52,14.12"/>
          <path class="w" d="M388.63,346.3c-2.26,6.21-4.52,12.42-6.78,18.64"/>
          <path class="w" d="M408.96,348.56c-1.88,6.78-3.76,13.55-5.65,20.33"/>
          <path class="w" d="M430.98,352.51c-1.51,7.15-3.01,14.31-4.52,21.46"/>
          <path class="w" d="M446.79,359.29c1.51,6.02,3.01,12.05,4.52,18.07"/>
          <path class="w" d="M471.64,365.5c.56,6.59,1.13,13.18,1.69,19.76"/>
          <path class="w" d="M675.5,185.36v14.68"/>
          <path class="w" d="M659.69,188.18c-2.45,7.15-4.89,14.31-7.34,21.46"/>
          <path class="w" d="M668.72,229.97c-.75,7.15-1.51,14.31-2.26,21.46"/>
          <path class="w" d="M649.52,226.58c-1.13,5.08-2.26,10.16-3.39,15.25"/>
          <path class="w" d="M654.61,276.84c-.75,4.52-1.51,9.04-2.26,13.55"/>
          <path class="w" d="M609.43,139.61c8.3-1.77,25.66-4.26,45.74,2.26,28.48,9.25,43.19,30.37,47.44,36.99"/>
          <path class="w" d="M555.22,126.63c9.73-6.65,30.49-18.84,59.29-20.89,43.97-3.14,75.29,19.57,83.47,25.91"/>
          <path class="w" d="M519.08,111.94c10.55-8.9,27.7-20.86,51.39-27.67,52.13-14.99,96.54,6.25,108.42,12.42"/>
          <path class="w" d="M482.37,105.73c7.73-10.43,20.64-24.83,40.38-36.42,10.33-6.07,38.39-20.68,75.95-18.35,16.72,1.03,30.14,5.1,38.96,8.47"/>
          <path class="w" d="M447.36,100.09c2.73-9.05,8.32-23.28,20.33-36.71,22.57-25.25,52.16-30.68,66.64-33.32,23.24-4.23,43.51-1.76,58.05,1.64"/>
          <path class="w" d="M416.86,92.18c1.41-11.18,5.26-27.38,16.38-42.92,31.91-44.6,93.08-41.05,98.26-40.67"/>
        </g>
      </g>
      <g id="p" data-name="eye-fill">
        <path class="z" d="M351.92,204.56c1.2-5.77,9.98-8.09,13.55-9.04,14.91-3.95,28.3,1.71,38.96,6.21,17.68,7.47,22.16,14.95,23.72,18.07.39.79,3.82,7.67,1.69,9.6-2.33,2.11-8.92-4.13-22.02-10.16-11.55-5.32-20-9.22-30.49-8.47-10.92.78-16.95,6.09-22.02,2.26-2.55-1.92-4.01-5.51-3.39-8.47Z"/>
        <path class="z" d="M497.62,229.4c4.59-7.08,17.65-5.79,30.49-4.52,11.47,1.13,22.79,2.25,35.58,9.6,6.01,3.45,19.88,11.42,23.72,25.98,1.17,4.45,1.57,10.12,0,10.73-1.98.76-5.13-7.28-12.42-14.12-5.99-5.61-12.27-7.69-24.85-11.86-16.53-5.48-24.8-8.22-35.01-6.21-8.52,1.67-13.6,5.57-16.94,2.82-2.88-2.37-3.09-8.53-.56-12.42Z"/>
        <path class="z" d="M511.74,266.67c1.84-4.66,6.64-9.33,12.42-9.04,3.95.2,6.63,2.74,7.91,3.95,5.79,5.47,5.12,13.2,5.08,13.55-.13,1.22-.95,9.25-7.34,11.86-6.94,2.84-13.65-3.49-14.12-3.95-3.8-3.74-6.37-10.24-3.95-16.38Z"/>
        <path class="z" d="M375.64,232.79c3.38-.52,7.16.72,9.6,3.39,3.93,4.29,2.84,10.55,1.13,14.12-.26.55-4.24,8.54-11.29,7.91-5.28-.48-8.72-5.46-9.6-9.6-1.45-6.88,3.49-14.78,10.16-15.81Z"/>
      </g>
    </g>
    <g id="q" data-name="braccia sinistra">
      <path id="r" data-name="braccia sinistra" class="v" d="M380.72,460.37c-6.03-4.7-16.32-13.03-32.19-18.07-7.14-2.27-16.79-5.21-21.46-.56-5.25,5.23-1.01,16.87-.56,18.07,4.99,13.26,16.65,16.21,33.88,27.11,25.63,16.2,23.58,24.68,55.91,46.87,10.26,7.05,19.1,12.12,24.85,15.25-28.15-12.13-49.69-11.99-61.55-10.73-18.53,1.97-22.44,7.62-23.72,10.16-2.91,5.77-1.61,13.95,2.82,18.64,4.35,4.59,10.16,4.18,27.11,4.52,6.59.13,16.92.42,29.93,1.13-6.68-1.59-15.94-3.55-27.11-5.08-22.64-3.11-34.1-4.54-41.22,1.69-7.88,6.89-10.31,21.07-5.08,27.11,2.3,2.65,5.6,3.19,24.85,3.39,9.13.1,16.99.06,23.15,0-6.76-.51-16.48-.98-28.24-.56-19.07.67-22.69,2.92-24.85,5.08-6.65,6.65-5.03,17.94-3.95,25.41.89,6.18,3.27,22.74,18.07,32.75,10.83,7.32,22.3,7.07,26.73,6.73-1.38-12.41-2.76-24.82-4.14-37.22-.45,21.41,3.85,37.88,7.34,48,5.16,14.96,11.9,25.78,16.94,33.88,8.88,14.25,17.23,23.72,19.76,26.54,7.62,8.48,14.95,14.99,20.89,19.76l36.71,90.92c6.35,11.53,12.65,24.14,18.64,37.84,12.66,29.01,20.99,56.26,26.54,80.19,20.77,51.31,40.56,93.1,55.91,123.67,19.2,38.25,29.46,58.48,48,85.27,10.56,15.25,38.44,51.25,81.88,88.66,30.92,26.63,42.73,30.43,53.08,31.06,37.67,2.3,67.63-36.68,84.14-58.16,8.53-11.1,31.24-42.71,46.31-103.34,8.38-33.71,17.75-89.91,7.91-161.51-18.37-15.2-61.5-46.96-114.64-49.69-15.79-.81-37.44-1.61-55.34,12.99-11.31,9.22-16.65,20.94-19.2,28.24,18.28,13.38,39.18,31.11,59.86,54.21,35.1,39.21,55.95,78.66,68.33,107.86-10.07-20.14-26.89-50.59-52.52-84.14-37.5-49.09-54.31-53.01-103.91-109.55-26.43-30.13-47.81-57.03-85.84-114.07,0,0-22.06-30.63-52.52-82.45-21.62-36.77-28.1-51.8-31.06-70.59-4.31-27.41,4.77-25.39,3.39-64.94-1.81-51.69-17.48-59.32-10.73-96,2.11-11.46,6.55-26.54.56-30.49-4.78-3.16-13.65,2.44-16.94,4.52-2.68,1.69-22.46,14.16-23.72,34.45-.47,7.57,1.86,12.75,22.98,46.61,6.42,10.3,12.05,19.18,16.55,26.24-6.97-11.85-41.17-69-80.75-99.39-14.41-11.06-19.77-11.08-41.79-28.24Z"/>
      <path class="v" d="M354.18,633.17c5.46,2.07,10.92,4.14,16.38,6.21"/>
    </g>
    <g id="s" data-name="left sleeve">
      <path class="y" d="M844.52,686.44c-8.63,3.53-21.02,9.62-33.49,20.14-17.01,14.35-25.12,29.32-51.95,91.48-17.44,40.4-26.25,60.91-31.06,76.24-9.56,30.47-14.64,57.15-17.51,77.36,15.69-8.97,56.71-29.65,112.38-26.54,54.62,3.05,92.56,27.27,107.29,37.84-1.94-10.88-6.53-36.7-12.42-70.02-15.11-85.5-17.71-105.12-29.08-132.92-7.62-18.61-20.71-44.82-44.16-73.58Z"/>
      <path class="y" d="M902.51,1014.91c6.25-1.05,11.22-2.64,14.68-3.95,0,0,15.88-6.13,16.94-12.42.06-.37.09-.74.09-.74s.01-.17.02-.34c.02-.41-14.91-10.07-35.41-22.98-.09,11.41-.19,22.82-.28,34.22"/>
      <path class="y" d="M731.97,971.43c17.96-7.22,53.51-18.71,98.82-14.68,51.91,4.62,88.42,27.09,104.47,38.4-1.69-10.73-3.39-21.46-5.08-32.19-15.93-10.66-50.74-30.82-99.39-34.45-59.72-4.46-104.03,18.68-120.28,28.24"/>
    </g>
    <g id="t" data-name="shirt stripes">
      <path class="x" d="M733.1,1415.85c-8.85.19-17.69.38-26.54.56"/>
      <path class="x" d="M697.52,1462.72c-9.41-.56-18.82-1.13-28.24-1.69"/>
      <path class="x" d="M624.68,1429.97c-8.85-.94-17.69-1.88-26.54-2.82"/>
      <path class="x" d="M558.61,1450.86c-10.35.75-20.71,1.51-31.06,2.26"/>
      <path class="x" d="M456.96,1424.89c-9.04-.75-18.07-1.51-27.11-2.26"/>
      <path class="x" d="M409.52,1465.54c-7.53.19-15.06.38-22.59.56"/>
      <path class="x" d="M346.84,1435.61c-9.22.38-18.45.75-27.67,1.13"/>
      <path class="x" d="M275.12,1463.29c-9.6,1.51-19.2,3.01-28.8,4.52"/>
      <path class="x" d="M224.86,1423.19c-8.09-.19-16.19-.38-24.28-.56"/>
      <path class="x" d="M283.59,1396.65l-28.8-.56"/>
      <path class="x" d="M225.43,1353.17c-6.4,0-12.8,0-19.2,0"/>
      <path class="x" d="M320.86,1346.39c-9.41.38-18.82.75-28.24,1.13"/>
      <path class="x" d="M377.9,1387.05c-8.85-.56-17.69-1.13-26.54-1.69"/>
      <path class="x" d="M542.23,1399.47c-9.04.56-18.07,1.13-27.11,1.69"/>
      <path class="x" d="M473.9,1365.59c-9.22-.56-18.45-1.13-27.67-1.69"/>
      <path class="x" d="M406.7,1328.32h-20.89"/>
      <path class="x" d="M503.26,1314.2c-10.92-.75-21.84-1.51-32.75-2.26"/>
      <path class="x" d="M581.76,1289.36c-11.67-.56-23.34-1.13-35.01-1.69"/>
      <path class="x" d="M574.42,1352.04c-11.86-.56-23.72-1.13-35.58-1.69"/>
      <path class="x" d="M661.95,1385.92c-8.47-.94-16.94-1.88-25.41-2.82"/>
      <path class="x" d="M748.35,1360.51c-11.11-.56-22.21-1.13-33.32-1.69"/>
      <path class="x" d="M635.41,1327.19c-9.41-.56-18.82-1.13-28.24-1.69"/>
      <path class="x" d="M717.29,1309.69c-9.41-.19-18.82-.38-28.24-.56"/>
      <path class="x" d="M655.74,1276.93c-9.22-.94-18.45-1.88-27.67-2.82"/>
      <path class="x" d="M451.31,1142.53c-9.41,0-18.82,0-28.24,0"/>
      <path class="x" d="M521.9,1112.6c-11.67.94-23.34,1.88-35.01,2.82"/>
      <path class="x" d="M417.43,1093.4c-6.78-.56-13.55-1.13-20.33-1.69"/>
      <path class="x" d="M333.29,1107.52h-22.59"/>
      <path class="x" d="M262.14,1079.29c-6.59-.38-13.18-.75-19.76-1.13"/>
      <path class="x" d="M277.38,1022.81c-8.28.19-16.56.38-24.85.56"/>
      <path class="x" d="M357.57,1047.66c-11.11.75-22.21,1.51-33.32,2.26"/>
      <path class="x" d="M481.24,1058.39c-8.66,0-17.32,0-25.98,0"/>
      <path class="x" d="M548.44,1071.38c-9.41.19-18.82.38-28.24.56"/>
      <path class="x" d="M423.64,1017.73c-9.6-1.51-19.2-3.01-28.8-4.52"/>
      <path class="x" d="M502.14,999.1c-7.72,0-15.44,0-23.15,0"/>
      <path class="x" d="M399.92,958.44c-12.42-.56-24.85-1.13-37.27-1.69"/>
      <path class="x" d="M327.08,982.16c-10.16-.19-20.33-.38-30.49-.56"/>
      <path class="x" d="M253.1,964.65c-8.66-.38-17.32-.75-25.98-1.13"/>
      <path class="x" d="M178.56,956.74c-11.48-1.69-22.96-3.39-34.45-5.08"/>
      <path class="x" d="M103.45,934.72c-10.35-1.88-20.71-3.76-31.06-5.65"/>
      <path class="x" d="M161.62,905.36c-9.79-.75-19.58-1.51-29.36-2.26"/>
      <path class="x" d="M78.61,874.86c-8.66-1.13-17.32-2.26-25.98-3.39"/>
      <path class="x" d="M132.25,847.76c-12.05-3.58-24.09-7.15-36.14-10.73"/>
      <path class="x" d="M81.99,797.5c-9.79-1.69-19.58-3.39-29.36-5.08"/>
      <path class="x" d="M123.78,775.47c-7.15-1.13-14.31-2.26-21.46-3.39"/>
      <path class="x" d="M113.05,726.91c-10.35-1.51-20.71-3.01-31.06-4.52"/>
      <path class="x" d="M477.29,943.76c-9.22-.75-18.45-1.51-27.67-2.26"/>
      <path class="x" d="M463.17,886.16c-12.24.56-24.47,1.13-36.71,1.69"/>
      <path class="x" d="M387.5,900.84c-11.48,0-22.96,0-34.45,0"/>
      <path class="x" d="M311.83,912.13c-11.67.19-23.34.38-35.01.56"/>
      <path class="x" d="M249.71,894.06c-10.54-2.45-21.08-4.89-31.62-7.34"/>
      <path class="x" d="M273.43,844.93l-25.41-1.13"/>
      <path class="x" d="M234.46,798.06c-11.67-3.39-23.34-6.78-35.01-10.16"/>
      <path class="x" d="M195.5,713.36c-14.12,1.13-28.24,2.26-42.35,3.39"/>
      <path class="x" d="M194.37,668.18c-9.41-1.13-18.82-2.26-28.24-3.39"/>
      <path class="x" d="M262.7,635.99c-7.34.19-14.68.38-22.02.56"/>
      <path class="x" d="M280.21,689.07c-8.85-.19-17.69-.38-26.54-.56"/>
      <path class="x" d="M251.41,747.24c-6.78.75-13.55,1.51-20.33,2.26"/>
      <path class="x" d="M328.21,795.8c-9.79-.19-19.58-.38-29.36-.56"/>
      <path class="x" d="M353.62,845.5c-6.78.56-13.55,1.13-20.33,1.69"/>
      <path class="x" d="M399.36,777.17c-9.41.19-18.82.38-28.24.56"/>
      <path class="x" d="M321.99,738.77h-23.72"/>
      <path class="x" d="M436.06,829.12c-9.79.56-19.58,1.13-29.36,1.69"/>
      <path class="x" d="M696.96,870.34h-36.71"/>
      <path class="x" d="M697.52,819.52c-6.78-.75-13.55-1.51-20.33-2.26"/>
      <path class="x" d="M642.75,783.38h-22.59"/>
      <path class="x" d="M629.76,727.47c-10.92,0-21.84,0-32.75,0"/>
      <path class="x" d="M682.28,690.77c-7.53,1.13-15.06,2.26-22.59,3.39"/>
      <path class="x" d="M690.18,636.56h-20.89"/>
      <path class="x" d="M750.61,667.05c-8.66.19-17.32.38-25.98.56"/>
      <path class="x" d="M768.11,711.1c-6.59,0-13.18,0-19.76,0"/>
      <path class="x" d="M712.21,754.01c-5.08.38-10.16.75-15.25,1.13"/>
      <path class="x" d="M850.56,737.07c-7.91,1.51-15.81,3.01-23.72,4.52"/>
      <path class="x" d="M875.97,785.64c-9.04,1.32-18.07,2.64-27.11,3.95"/>
      <path class="x" d="M807.08,783.38c-7.53,2.07-15.06,4.14-22.59,6.21"/>
      <path class="x" d="M804.25,830.81c-11.67,3.76-23.34,7.53-35.01,11.29"/>
      <path class="x" d="M769.24,878.25c-9.22,4.89-18.45,9.79-27.67,14.68"/>
      <path class="x" d="M824.02,897.45c-9.79,2.64-19.58,5.27-29.36,7.91"/>
      <path class="x" d="M865.24,843.8c-7.15,1.51-14.31,3.01-21.46,4.52"/>
      <path class="x" d="M897.43,890.11c-8.66,2.07-17.32,4.14-25.98,6.21"/>
    </g>
    <g id="u" data-name="fingers">
      <path class="x" d="M742.24,994.51c6.45-3.35,16.97-7.78,30.49-8.89,11.26-.92,19.16.9,33.04,4.24,16.31,3.92,35.4,10.55,52.09,23.72,6.96,5.49,12.06,10.98,11.01,16.09-.46,2.24-2.31,5.5-5.51,7.2-2.14,1.14-4.21,1.22-5.47,1.2-9.59-.16-23.55-7.45-30.04-10.65-5.99-2.95-11.59-5.71-19.55-8.35-7.47-2.48-15.46-5.05-25.84-4.66-6.9.26-12.47,1.75-16.09,2.96"/>
      <path class="x" d="M766.38,1016.53c5.74-1.59,14.36-3.22,24.56-2.12,6.02.65,8.74,1.83,28.8,9.74,6.86,2.71,20.99,8.27,36,16.52,1.85,1.02,8.05,4.51,12.71,11.44,3.82,5.67,3.53,9.09,3.39,10.16-.36,2.72-1.94,6.54-5.08,8.05-4.36,2.09-8.93-1.59-18.64-6.35-9.61-4.71-18.41-7.61-23.72-8.89-5.6-1.35-14.12-2.55-25.41-.85"/>
      <path class="x" d="M800.27,1056.76c9.4-1.55,17.17-1.11,22.45-.42,6.21.81,12.19,2.94,24.14,7.2,11.21,4,15.21,6.18,18.64,10.16,1.83,2.13,5.1,6.05,4.24,10.59-.74,3.89-4.12,6.14-5.08,6.78-1.21.8-4.24,2.53-12.71,2.12-7.26-.36-9.19-1.83-15.67-2.54-3.32-.36-8.23-.57-14.4.42"/>
    </g>
  </g>
</svg>

    </div>
  </div>
  <div class="modal__close-svg">
  

    <svg
    class="close"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="-10 -10 124.6 124.6"
      @click="$store.packages.closeModal()"
      @touchstart="$store.packages.closeModal()"
      @mouseenter.throttle.1500ms="boop($event.target)"
    >
      <circle
     
      class="circle" cx="52.3" cy="52.3" r="50.3" />
      <g
      
      class="cross">
        <line x1="23.84" y1="23.84" x2="80.77" y2="80.77" />
        <line x1="80.77" y1="23.84" x2="23.84" y2="80.77" />
      </g>
    </svg>
  </div>
</dialog>
