 <div class="header__icons">
    <span  class="changeTheme" @click="rotate()">
      <svg

        xmlns="http://www.w3.org/2000/svg"
     
        viewBox="0 0 58.18 58.18"
         @mouseenter.throttle.1500ms="boop($event.target)"
        class="header__icon sun"
        aria-label="Cambia colori"
      >
        <g>
          <circle cx="29.09" cy="29.09" r="18.64" />
          <g class="orbit">
            <circle cx="56.19" cy="29.09" r="1.48" />
            <circle cx="52.56" cy="15.54" r="1.48" />
            <circle cx="42.64" cy="5.61" r="1.48" />
            <circle cx="29.09" cy="1.98" r="1.48" />
            <circle cx="15.54" cy="5.61" r="1.48" />
            <circle cx="5.61" cy="15.54" r="1.48" />
            <circle cx="1.98" cy="29.09" r="1.48" />
            <circle cx="5.61" cy="42.64" r="1.48" />
            <circle cx="15.54" cy="52.56" r="1.48" />
            <circle cx="29.09" cy="56.19" r="1.48" />
            <circle cx="42.64" cy="52.56" r="1.48" />
            <circle cx="52.56" cy="42.64" r="1.48" />
          </g>
        </g>
      </svg>

      <svg
        xmlns="http://www.w3.org/2000/svg"
      
        viewBox="-1 1 54.86 54.23"
        class="header__icon moon rotate"
         @mouseenter.throttle.1500ms="boop($event.target)"
      >
        <g>
          <path
            d="M54.09,35.47c-3.69,10.62-13.96,18.26-26.06,18.26C12.83,53.73.5,41.66.5,26.78.5,14.47,8.94,4.08,20.47.87c-5.59,7.67-7.57,15.94-4.61,22.92,4.73,11.15,20.61,15.54,38.23,11.68Z"
          />
        </g>
      </svg>
    </span>

    <a href="https://www.madebyshu.net/webdev/en"
      ><svg
        class="header__icon globe"
        xmlns="http://www.w3.org/2000/svg"
        style="stroke-width: 1px"
        aria-label="Cambia lingua a Inglese"
     
        viewBox="0 0 58.52 60.28"
         @mouseenter.throttle.1500ms="boop($event.target)"
      >
      
  <defs>
    <style>
      .i {
        fill: #fff;
      }

      .j {
        fill: #dc0c15;
      }

      .k {
        fill: #26367e;
      }

      .l {
        fill: none;
        stroke: #1d1d1b;
        stroke-miterlimit: 10;
      }
    </style>
  </defs>
  
    <g  class="itaflag"id="d" data-name="english flag">
      
      <g id="f" data-name="Blue bits">
        <path class="k" d="M26.01,23.76c-1.19-.9-2.37-1.79-3.56-2.69h0c-2.43-1.84-4.87-3.68-7.3-5.52-1.44-1.09-2.89-2.18-4.33-3.27-.71-.54-1.43-1.08-2.14-1.62,2.85-3.25,6.38-5.85,10.36-7.58.09-.04.19-.07.28-.11h.02c2.43-1.55,4.83-1.92,6.02-.88.21.19.43.45.59.85v.14c0,.55,0,1.1,0,1.65.02,4.67.03,9.34.04,14.01.01.91.01,1.82.01,2.73,0,.76,0,1.53,0,2.29Z"/>
        <path class="k" d="M58.58,35.32c-.66,3.95-2.07,7.64-4.09,10.9-.7-.56-1.4-1.11-2.1-1.66-1.98-1.56-3.97-3.13-5.95-4.7-.8-.62-1.59-1.25-2.39-1.88-1.09-.86-2.19-1.73-3.28-2.59,1.21,0,2.43-.01,3.64-.02.89,0,1.79,0,2.68-.01,2.93-.01,5.87-.02,8.8-.03.9-.01,1.79-.01,2.69-.01Z"/>
        <path class="k" d="M21.8,25.97c-2.27.01-4.53.02-6.8.02-.89.01-1.78.01-2.67.01-2.96.02-5.92.03-8.88.04-.89,0-1.78,0-2.67.01.59-4.58,2.2-8.83,4.57-12.51,1.25.95,2.51,1.89,3.76,2.84,1.38,1.05,2.77,2.09,4.15,3.14.8.6,1.59,1.2,2.39,1.8,2.05,1.55,4.1,3.1,6.15,4.65Z"/>
        <path class="k" d="M38.19,58.85h-.07c-1.22.01-2.44.01-3.66.02v-.24c0-1.24-.01-2.47-.01-3.71-.01-3.89-.03-7.78-.04-11.67,0-.91,0-1.82-.01-2.73v-.91c.47.37.93.74,1.4,1.11h.01c2.28,1.8,4.56,3.6,6.84,5.4,1.42,1.12,2.85,2.25,4.27,3.37.7.55,1.4,1.1,2.1,1.66-1.14,1.29-2.69,2.82-4.72,4.3-2.26,1.64-4.41,2.71-6.11,3.4Z"/>
        <path class="k" d="M22.29,36.17c-1.91,1.44-3.83,2.89-5.74,4.34-.21.16-.43.32-.64.48-3.03,2.28-6.05,4.57-9.08,6.86-2.5-3.43-4.31-7.42-5.19-11.76.9,0,1.81.01,2.71.01,2.9.01,5.79.02,8.69.03.9.01,1.79.01,2.69.01,2.1.01,4.19.02,6.29.03h.27Z"/>
        <path class="k" d="M26.68,36.65c0,.69-.01,1.37-.01,2.06,0,.91,0,1.81,0,2.72-.02,4.82-.03,9.65-.04,14.47-.01.42-.01.83-.01,1.25.21.8.43,1.6.64,2.39-2.5-.7-5-1.4-7.5-2.09h-.06c-.25-.1-.5-.2-.75-.3-3.8-1.65-7.18-4.09-9.96-7.13.72-.54,1.44-1.08,2.16-1.63,1.37-1.03,2.74-2.07,4.12-3.11.76-.57,1.52-1.15,2.28-1.72.42-.32.84-.64,1.26-.96,1.59-1.2,3.18-2.4,4.77-3.6,1.04-.78,2.07-1.57,3.11-2.35Z"/>
        <path class="k" d="M50.86,10.64c-.72.53-1.43,1.07-2.15,1.62-1.42,1.07-2.83,2.14-4.25,3.21-.79.59-1.58,1.19-2.37,1.79-.12.09-.25.19-.37.28-1.65,1.25-3.3,2.49-4.95,3.75h-.01c-1.2.91-2.4,1.81-3.6,2.72,0-.79,0-1.57.01-2.36,0-.91,0-1.81.01-2.72.01-4.77.03-9.55.05-14.32v-1.43c.32-.52.86-1.2,1.72-1.55.92-.37,2-.25,5.65,1.58,2.58,1.29,3.87,1.92,5.56,3.17,2.11,1.56,3.66,3.11,4.7,4.26Z"/>
        <path class="k" d="M53.66,12.78c2.45,3.55,4.16,7.67,4.91,12.13-.9,0-1.79,0-2.69-.01-2.93-.01-5.86-.02-8.79-.03-.89-.01-1.79-.01-2.68-.01-2.23-.01-4.46-.02-6.69-.03,1.98-1.5,3.97-3,5.95-4.5.8-.6,1.6-1.21,2.4-1.81.21-.16.42-.32.63-.48h.01c2.32-1.75,4.63-3.5,6.95-5.26Z"/>
      </g>
      <g id="g" data-name="Cross">
        <path class="j" d="M59.02,30.14c0,1.38-.09,2.73-.27,4.06-.89.01-1.78.02-2.68.02-2.96.02-5.92.04-8.88.06-.89.01-1.78.02-2.67.02-3.97.03-7.95.05-11.92.08-.02,1.69-.04,3.39-.06,5.08-.01.9-.02,1.81-.04,2.71-.05,4.99-.12,9.97-.18,14.96,0,.26-.01.51-.01.77h-4.81v-.68c.04-5.03.07-10.05.09-15.07.01-.91.02-1.82.02-2.72,0-1.83.02-3.65.03-5.48H.74c-.16-1.25-.24-2.52-.24-3.81,0-1.13.06-2.25.18-3.35h26.82c-.02-1.98-.05-3.97-.07-5.95-.02-.91-.03-1.81-.03-2.72-.07-4.99-.13-9.98-.18-14.97-.01-.15-.01-.31-.01-.46,1.6.05,3.21.1,4.82.15v.22c.09,5.02.18,10.04.28,15.06.01.9.03,1.81.05,2.71.03,1.91.06,3.83.1,5.74,4.04.07,8.08.14,12.12.22.89.01,1.77.03,2.66.04,2.98.06,5.97.11,8.95.16.89.02,1.79.04,2.68.05.1,1.02.15,2.05.15,3.1Z"/>
        <path class="j" d="M24.35,24.74c-.67.04-1.35.07-2.02.1-1.31-1.01-2.62-2.01-3.93-3.02-.79-.61-1.58-1.22-2.37-1.82-.61-.47-1.22-.94-1.83-1.41-.01,0-.01-.01-.02-.01-1.95-1.5-3.9-3-5.85-4.51.27-.42.56-.83.87-1.23,3.2,2.51,6.4,5.02,9.59,7.53,1.86,1.46,3.71,2.91,5.56,4.37Z"/>
        <path class="j" d="M52.01,48.01c-.27.42-.56.83-.87,1.23-3.2-2.51-6.39-5.02-9.58-7.53-1.87-1.46-3.73-2.92-5.59-4.39.67-.03,1.35-.06,2.02-.09,1.31,1.01,2.63,2.02,3.94,3.03.79.61,1.58,1.21,2.37,1.82.66.5,1.31,1.01,1.96,1.51h.01c1.92,1.48,3.83,2.95,5.74,4.42Z"/>
        <path class="j" d="M50.93,11.04c.38.44.74.9,1.08,1.36-3.19,2.51-6.38,5.03-9.57,7.55-1.87,1.47-3.73,2.95-5.6,4.42h-2.44c1.65-1.33,3.31-2.67,4.96-4,1.79-1.44,3.56-2.87,5.35-4.32h.01c1.37-1.11,2.75-2.22,4.12-3.33.7-.56,1.39-1.12,2.09-1.68Z"/>
        <path class="j" d="M25.16,36.56c-1.67,1.35-3.35,2.7-5.02,4.05h-.01c-1.79,1.45-3.59,2.9-5.38,4.35h-.01c-1.35,1.09-2.69,2.18-4.04,3.27-.7.55-1.39,1.12-2.09,1.68-.38-.45-.74-.9-1.08-1.37,2.98-2.34,5.96-4.69,8.94-7.05,0,0,.02,0,.03-.02.2-.16.4-.32.6-.48,1.83-1.43,3.65-2.88,5.48-4.32.05-.04.09-.07.14-.11h2.44Z"/>
      </g>
      <g id="h" data-name="globe2">
        <path class="l" d="M38.01,2.21c1.07.34,5.89,1.94,10.69,6.16,6.38,5.62,8.53,12.17,8.94,13.46.67,2.13,3.02,10.54-1.07,19.86-.6,1.37-2.94,6.4-8.36,10.87-2.28,1.88-8.75,7.22-18.18,7.15-7-.05-11.97-3.05-14.71-4.71-2.18-1.31-7.98-4.92-11.71-12.19-2.82-5.49-3.07-10.4-3.11-12.05-.18-8.4,3.65-14.36,5.15-16.61,1.23-1.85,4.05-6,9.52-9.27,5.68-3.39,10.96-3.89,12.11-3.98,1.17-.09,5.49-.36,10.72,1.3Z"/>
        <path class="l" d="M15.86,15.53c1.7-3.92,6.27-14.48,13.55-14.69,5.03-.15,8.97,4.72,11.03,7.25,4.08,5.03,5.04,10.27,5.93,15.81.94,5.87,1.86,11.6-.19,18.54-.91,3.06-4.61,15.63-13.41,16.85-6.46.9-11.96-4.84-13.08-6.01-3.98-4.15-4.92-8.76-5.86-13.75-.82-4.35-2.45-13.64,2.04-24Z"/>
        <path class="l" d="M5.67,13.79c3.55,2.15,11.53,6.32,22.54,6.68,12.82.42,22.14-4.56,25.65-6.68"/>
        <path class="l" d="M.51,30.78c19.5-.1,39-.2,58.51-.3"/>
        <path class="l" d="M29.75.85c.09,19.62.19,39.25.28,58.87"/>
        <path class="l" d="M5.46,47.06c2.83-1.4,6.84-3.1,11.85-4.33,4.31-1.06,12.53-2.99,22.64-.94,3.3.67,8.22,2.05,13.67,5.17"/>
      </g>
    </g>
    <ellipse class="itaglobe" id="e" data-name="background" class="i" cx="29.86" cy="30.08" rx="28.71" ry="30.08"/>
 
</svg></a>

  <svg
   class="hamburger header__icon" 
   xmlns="http://www.w3.org/2000/svg" 
   viewBox="0 0 24 24"
   @click="menuToggle()"
   aria-label="Apri menu mobile"
   >
 <!-- <rect  x="1.5" y="1.5" width="24" height="24"/> -->
    <line  x1="3" y1="20" x2="20" y2="20"/>
    <line  x1="3" y1="11" x2="20" y2="11"/>
    <line  x1="3" y1="2" x2="20" y2="2"/>
    <!-- <line  x1="6.87" y1="18.52" x2="20.13" y2="18.52"/>
    <line  x1="6.87" y1="13.37" x2="20.13" y2="13.37"/>
    <line  x1="6.87" y1="8.22" x2="20.13" y2="8.22"/> -->
  </svg>
</div>

  <nav>
    
  </nav>