 <ul class="menu">
      <li><a href="#perche">Vision</a></li>
      <li><a href="#prezzi">Packages</a></li>
      <li><a href="#aboutme">About Me</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contatti">Contact</a></li>
    </ul>