 <ul class="menu">
      <li><a href="#perche">Vision</a></li>
      <li><a href="#prezzi">Pachetti</a></li>
      <li><a href="#aboutme">Chi sono</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contatti">Contatti</a></li>
    </ul>