<nav class="side-nav">
    <ul>
        <li class="first"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      
        
        <li></li>
        <li></li>
        <li></li>
        <li class="last"></li>
    </ul>
</nav>