version: "3.9"

services:
  app:
    container_name: madebyshu
    build: .
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - caddy
      - internal

  db:
    container_name: madebyshu-db
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal

volumes:
  postgres_data:

networks:
  caddy:
    external: true
  internal:
    internal: true
