:root{
    

    --color-neutral-100: oklch(100% 0.00011 271.152 / var(--opacity, 1));
    --color-neutral-300: oklch(95.735% 0.02153 83.231 / var(--opacity, 1));
    --color-neutral-800: oklch(17.616% 0.01019 18.057 / var(--opacity, 1));
    --color-neutral-900: oklch(0% 0 0 / var(--opacity, 1));


    --color-primary-400: oklch(58.696% 0.15057 140.236 / var(--opacity, 1));
    --color-primary-800: oklch(37.481% 0.06098 149.376 / var(--opacity, 1));
    
    --color-accent-400: oklch(46.164% 0.15883 317.443 / var(--opacity, 1));
    --color-accent-800: oklch(28.136% 0.08759 317.149 / var(--opacity, 1));


    --ff-primary: "Chelsea Market", system-ui;
    --ff-secondary: font-family: "Nunito", sans-serif;

    --fw-light: 100;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --size-100: 0.75;
  --size-200: 1;
  --size-300: 1.125;
  --size-400: 1.25;
  --size-500: 1.5;
  --size-600: 1.775;
  --size-700: 2;
  --size-750: 2.5;
  --size-800: 3;
  --size-900: 5;

  --size-100-rem: var(--size-100)rem;
  --size-200-rem: var(--size-200)rem;
  --size-300-rem: var(--size-300)rem;
  --size-400-rem: var(--size-400)rem;
  --size-500-rem: var(--size-500)rem;
  --size-600-rem: var(--size-600)rem;
  --size-700-rem: var(--size-700)rem;
  --size-750-rem: var(--size-750)rem;
  --size-800-rem: var(--size-800)rem;
  --size-900-rem: var(--size-900)rem;

  --size-100-em: var(--size-100)em;
  --size-200-em: var(--size-200)em;
  --size-300-em: var(--size-300)em;
  --size-400-em: var(--size-400)em;
  --size-500-em: var(--size-500)em;
  --size-600-em: var(--size-600)em;
  --size-700-em: var(--size-700)em;
  --size-750-em: var(--size-750)em;
  --size-800-em: var(--size-800)em;
  --size-900-em: var(--size-900)em;

  scroll-behavior: smooth;
}

.bg-neutral-100{
    background: var(--color-neutral-100);
}
.bg-neutral-300{
    background:var(--color-neutral-300);
}
.bg-neutral-800{
    background: var(--color-neutral-800);
}
.bg-neutral-900{
    background: var(--color-neutral-900);
}
.bg-primary-400{
    background: var(--color-primary-400);
}
.bg-primary-800{
    background: var(--color-primary-800);
}
.bg-accent-400{
    background: var(--color-secondary-400);
}
.bg-accent-800{
    background: var(--color-secondary-800);
}

.color-neutral-100{
    color: var(--color-neutral-100);
}
.color-neutral-300{
    color:var(--color-neutral-300);
}
.color-neutral-800{
    color: var(--color-neutral-800);
}
.color-neutral-900{
    color: var(--color-neutral-900);
}
.color-primary-400{
    color: var(--color-primary-400);
}
.color-primary-800{
    color: var(--color-primary-800);
}
.color-accent-400{
    color: var(--color-secondary-400);
}
.color-accent-800{
    color: var(--color-secondary-800);
}

.fw-light {
  font-weight: var(--fw-light);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-black {
  font-weight: var(--fw-black);
}

.fs-100 {
  font-size: var(--size-100-rem);
}
.fs-200 {
  font-size: var(--size-200-rem);
}
.fs-300 {
  font-size: var(--size-300-rem);
}
.fs-400 {
  font-size: var(--size-400-rem);
}
.fs-500 {
  font-size: var(--size-500-rem);
}
.fs-600 {
  font-size: var(--size-600-rem);
}
.fs-700 {
  font-size: var(--size-700-rem);
}
.fs-750 {
  font-size: var(--size-750-rem);
}
.fs-800 {
  font-size: var(--size-800-rem);
}
.fs-900 {
  font-size: var(--size-900-rem);
}

.padding-block-100 {
  padding-block: var(--size-100-em);
}
.padding-block-200 {
  padding-block: var(--size-200-em);
}
.padding-block-300 {
  padding-block: var(--size-300-em);
}
.padding-block-400 {
  padding-block: var(--size-400-em);
}
.padding-block-500 {
  padding-block: var(--size-500-em);
}
.padding-block-600 {
  padding-block: var(--size-600-em);
}
.padding-block-700 {
  padding-block: var(--size-700-em);
}
.padding-block-750 {
  padding-block: var(--size-750-em);
}
.padding-block-800 {
  padding-block: var(--size-800-em);
}
.padding-block-900 {
  padding-block: var(--size-900-em);
}

.padding-inline-100 {
  padding-inline: var(--size-100-em);
}
.padding-inline-200 {
  padding-inline: var(--size-200-em);
}
.padding-inline-300 {
  padding-inline: var(--size-300-em);
}
.padding-inline-400 {
  padding-inline: var(--size-400-em);
}
.padding-inline-500 {
  padding-inline: var(--size-500-em);
}
.padding-inline-600 {
  padding-inline: var(--size-600-em);
}
.padding-inline-700 {
  padding-inline: var(--size-700-em);
}
.padding-inline-750 {
  padding-inline: var(--size-750-em);
}
.padding-inline-800 {
  padding-inline: var(--size-800-em);
}
.padding-inline-900 {
  padding-inline: var(--size-900-em);
}

.margin-block-100 {
  margin-block: var(--size-100-em);
}
.margin-block-200 {
  margin-block: var(--size-200-em);
}
.margin-block-300 {
  margin-block: var(--size-300-em);
}
.margin-block-400 {
  margin-block: var(--size-400-em);
}
.margin-block-500 {
  margin-block: var(--size-500-em);
}
.margin-block-600 {
  margin-block: var(--size-600-em);
}
.margin-block-700 {
  margin-block: var(--size-700-em);
}
.margin-block-750 {
  margin-block: var(--size-750-em);
}
.margin-block-800 {
  margin-block: var(--size-800-em);
}
.margin-block-900 {
  margin-block: var(--size-900-em);
}

.margin-inline-100 {
  margin-inline: var(--size-100-em);
}
.margin-inline-200 {
  margin-inline: var(--size-200-em);
}
.margin-inline-300 {
  margin-inline: var(--size-300-em);
}
.margin-inline-400 {
  margin-inline: var(--size-400-em);
}
.margin-inline-500 {
  margin-inline: var(--size-500-em);
}
.margin-inline-600 {
  margin-inline: var(--size-600-em);
}
.margin-inline-700 {
  margin-inline: var(--size-700-em);
}
.margin-inline-750 {
  margin-inline: var(--size-750-em);
}
.margin-inline-800 {
  margin-inline: var(--size-800-em);
}
.margin-inline-900 {
  margin-inline: var(--size-900-em);
}

.margin-inline-auto{
    margin-inline:auto;
}

.flex{
    display:flex;
}
.grid{
    display:grid;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--ff-primary);
    font-size: var(--size-100-rem);
}
p{
    font-family: var(--ff-secondary);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

h1{
    color:rebeccapurple;
    font-size: var(--size-100-rem);
    font-family: var(--ff-primary);
    
}

p{
    font-family: var(--ff-secondary);
}
html{
    --opacity:0.8;
    display:grid;
    place-items:center;
    height:100vh;
    width:100vw;
    background-color: var(--color-neutral-900);
}