:root {
  --color-neutral-100: oklch(100% 0.00011 271.152);
  --color-neutral-300: oklch(95.735% 0.02153 83.231);
  --color-neutral-800: oklch(17.616% 0.01019 18.057);
  --color-neutral-900: oklch(0% 0 0);

  --color-primary-400: oklch(58.696% 0.15057 140.236);
  --color-primary-800: oklch(37.481% 0.06098 149.376);
  --color-primary-900: oklch(from var(--color-primary-400) calc(l - 0.47) c h);

  --color-accent-400: oklch(46.164% 0.15883 317.443);
  --color-accent-800: oklch(28.136% 0.08759 317.149);

  --hero-color: oklch(0.23 0.08 277.35);
  --end-color: oklch(0.23 0.08 277.35);
 
  /* --color-neutral-100: oklch(100% 0.00011 271.152 / var(--opacity, 1));
    --color-neutral-300: oklch(95.735% 0.02153 83.231 / var(--opacity, 1));
    --color-neutral-800: oklch(17.616% 0.01019 18.057 / var(--opacity, 1));
    --color-neutral-900: oklch(0% 0 0 / var(--opacity, 1));


    --color-primary-400: oklch(58.696% 0.15057 140.236 / var(--opacity, 1));
    --color-primary-800: oklch(37.481% 0.06098 149.376 / var(--opacity, 1));
    
    --color-accent-400: oklch(46.164% 0.15883 317.443 / var(--opacity, 1));
    --color-accent-800: oklch(28.136% 0.08759 317.149 / var(--opacity, 1)); */

  --ff-primary: "Chelsea Market", system-ui;
  --ff-secondary: "Nunito", sans-serif;

  --fw-light: 100;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --size-100: 0.75rem;
  --size-200: 1rem;
  --size-300: 1.125rem;
  --size-400: 1.25rem;
  --size-500: 1.5rem;
  --size-600: 1.775rem;
  --size-700: 2rem;
  --size-750: 2.5rem;
  --size-800: 3rem;
  --size-900: 5rem;

  --spring-easing: linear(
    0,
    0.0018,
    0.0069 1.15%,
    0.026 2.3%,
    0.0637,
    0.1135 5.18%,
    0.2229 7.78%,
    0.5977 15.84%,
    0.7014,
    0.7904,
    0.8641,
    0.9228,
    0.9676 28.8%,
    1.0032 31.68%,
    1.0225,
    1.0352 36.29%,
    1.0431 38.88%,
    1.046 42.05%,
    1.0448 44.35%,
    1.0407 47.23%,
    1.0118 61.63%,
    1.0025 69.41%,
    0.9981 80.35%,
    0.9992 99.94%
  );
  --spring-duration: 0.8333s;

  --boop-easing: linear(0, 0.0028 0.22%, 0.0136 0.48%, 0.0527 0.96%, 0.1214, 0.2133 2%, 0.4371 3.01%, 1.0485 5.4%, 1.2017 6.1%, 1.3151, 1.4057 7.32%, 1.4676, 1.5074 8.45%, 1.5198, 1.5259 9.06%, 1.5265 9.28%, 1.5233, 1.516, 1.5048 10.07%, 1.4715 10.59%, 1.4212 11.15%, 1.3052 12.16%, 0.9667 14.68%, 0.8917 15.34%, 0.8324, 0.7851 16.56%, 0.7528, 0.7323 17.69%, 0.7267 17.95%, 0.7232 18.26%, 0.7242 18.74%, 0.7335 19.26%, 0.7525, 0.7792 20.39%, 0.8406 21.39%, 1.016 23.88%, 1.0581 24.58%, 1.0892 25.19%, 1.1123, 1.1296, 1.1407, 1.1457 27.45%, 1.1454 27.93%, 1.1406 28.45%, 1.1309, 1.1169 29.59%, 1.0832 30.63%, 0.9909 33.12%, 0.9526 34.42%, 0.9405, 0.9315 35.56%, 0.9261 36.08%, 0.9233 36.65%, 0.925 37.52%, 0.9339 38.48%, 0.9509 39.56%, 0.9996 42.05%, 1.0193 43.22%, 1.0343 44.53%, 1.0384, 1.0403 45.84%, 1.0395 46.75%, 1.0347 47.71%, 1.0257 48.8%, 1 51.29%, 0.9897 52.46%, 0.9819 53.77%, 0.9788 55.03%, 0.9817 56.91%, 1.0053 61.66%, 1.0094, 1.0112 64.18%, 1.0096 66.14%, 0.9972 70.85%, 0.9941 73.33%, 0.995 75.38%, 1.0013 79.96%, 1.003 82.31%, 0.9984 91.55%, 1.0008 99.96%);
--boop-duration: 2.142s;

  --size-100-rem: var(--size-100) rem;
  --size-200-rem: var(--size-200) rem;
  --size-300-rem: var(--size-300) rem;
  --size-400-rem: var(--size-400) rem;
  --size-500-rem: var(--size-500) rem;
  --size-600-rem: var(--size-600) rem;
  --size-700-rem: var(--size-700) rem;
  --size-750-rem: var(--size-750) rem;
  --size-800-rem: var(--size-800) rem;
  --size-900-rem: var(--size-900) rem;

  --size-100-em: var(--size-100) em;
  --size-200-em: var(--size-200) em;
  --size-300-em: var(--size-300) em;
  --size-400-em: var(--size-400) em;
  --size-500-em: var(--size-500) em;
  --size-600-em: var(--size-600) em;
  --size-700-em: var(--size-700) em;
  --size-750-em: var(--size-750) em;
  --size-800-em: var(--size-800) em;
  --size-900-em: var(--size-900) em;

  scroll-behavior: smooth;
}

.bg-neutral-100 {
  background: var(--color-neutral-100);
}
.bg-neutral-300 {
  background: var(--color-neutral-300);
}
.bg-neutral-800 {
  background: var(--color-neutral-800);
}
.bg-neutral-900 {
  background: var(--color-neutral-900);
}
.bg-primary-400 {
  background: var(--color-primary-400);
}
.bg-primary-800 {
  background: var(--color-primary-800);
}
.bg-accent-400 {
  background: var(--color-secondary-400);
}
.bg-accent-800 {
  background: var(--color-secondary-800);
}

.color-neutral-100 {
  color: var(--color-neutral-100);
}
.color-neutral-300 {
  color: var(--color-neutral-300);
}
.color-neutral-800 {
  color: var(--color-neutral-800);
}
.color-neutral-900 {
  color: var(--color-neutral-900);
}
.color-primary-400 {
  color: var(--color-primary-400);
}
.color-primary-800 {
  color: var(--color-primary-800);
}
.color-accent-400 {
  color: var(--color-secondary-400);
}
.color-accent-800 {
  color: var(--color-secondary-800);
}

.fw-light {
  font-weight: var(--fw-light);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-black {
  font-weight: var(--fw-black);
}

.fs-100 {
  font-size: var(--size-100-rem);
}
.fs-200 {
  font-size: var(--size-200-rem);
}
.fs-300 {
  font-size: var(--size-300-rem);
}
.fs-400 {
  font-size: var(--size-400-rem);
}
.fs-500 {
  font-size: var(--size-500-rem);
}
.fs-600 {
  font-size: var(--size-600-rem);
}
.fs-700 {
  font-size: var(--size-700-rem);
}
.fs-750 {
  font-size: var(--size-750-rem);
}
.fs-800 {
  font-size: var(--size-800-rem);
}
.fs-900 {
  font-size: var(--size-900-rem);
}

.padding-block-100 {
  padding-block: var(--size-100-em);
}
.padding-block-200 {
  padding-block: var(--size-200-em);
}
.padding-block-300 {
  padding-block: var(--size-300-em);
}
.padding-block-400 {
  padding-block: var(--size-400-em);
}
.padding-block-500 {
  padding-block: var(--size-500-em);
}
.padding-block-600 {
  padding-block: var(--size-600-em);
}
.padding-block-700 {
  padding-block: var(--size-700-em);
}
.padding-block-750 {
  padding-block: var(--size-750-em);
}
.padding-block-800 {
  padding-block: var(--size-800-em);
}
.padding-block-900 {
  padding-block: var(--size-900-em);
}

.padding-inline-100 {
  padding-inline: var(--size-100-em);
}
.padding-inline-200 {
  padding-inline: var(--size-200-em);
}
.padding-inline-300 {
  padding-inline: var(--size-300-em);
}
.padding-inline-400 {
  padding-inline: var(--size-400-em);
}
.padding-inline-500 {
  padding-inline: var(--size-500-em);
}
.padding-inline-600 {
  padding-inline: var(--size-600-em);
}
.padding-inline-700 {
  padding-inline: var(--size-700-em);
}
.padding-inline-750 {
  padding-inline: var(--size-750-em);
}
.padding-inline-800 {
  padding-inline: var(--size-800-em);
}
.padding-inline-900 {
  padding-inline: var(--size-900-em);
}

.margin-block-100 {
  margin-block: var(--size-100-em);
}
.margin-block-200 {
  margin-block: var(--size-200-em);
}
.margin-block-300 {
  margin-block: var(--size-300-em);
}
.margin-block-400 {
  margin-block: var(--size-400-em);
}
.margin-block-500 {
  margin-block: var(--size-500-em);
}
.margin-block-600 {
  margin-block: var(--size-600-em);
}
.margin-block-700 {
  margin-block: var(--size-700-em);
}
.margin-block-750 {
  margin-block: var(--size-750-em);
}
.margin-block-800 {
  margin-block: var(--size-800-em);
}
.margin-block-900 {
  margin-block: var(--size-900-em);
}

.margin-inline-100 {
  margin-inline: var(--size-100-em);
}
.margin-inline-200 {
  margin-inline: var(--size-200-em);
}
.margin-inline-300 {
  margin-inline: var(--size-300-em);
}
.margin-inline-400 {
  margin-inline: var(--size-400-em);
}
.margin-inline-500 {
  margin-inline: var(--size-500-em);
}
.margin-inline-600 {
  margin-inline: var(--size-600-em);
}
.margin-inline-700 {
  margin-inline: var(--size-700-em);
}
.margin-inline-750 {
  margin-inline: var(--size-750-em);
}
.margin-inline-800 {
  margin-inline: var(--size-800-em);
}
.margin-inline-900 {
  margin-inline: var(--size-900-em);
}

.margin-inline-auto {
  margin-inline: auto;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout,
.full-width > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width,
.full-width > .full-width:not(.hero__svg-bg, .faq__svg-bg, .bgtest),
.aboutme > .full-width,
.hero > .full-width:not(.hero__svg-bg),
.prezzi > .full-width,
.faq > .full-width:not(.faq__svg-bg, .bgtest) {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

.hero__svg-bg {
  > * {
    grid-column: content !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  font-size: var(--size-100-rem);
}
p {
  font-family: var(--ff-secondary);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* section {
  padding-block: var(--size-400);
} */

.section__header {
  font-size: var(--size-800);
  text-align: center;
}

.subsection__header {
  font-size: var(--size-600);
  text-align: center;
  margin-block: var(--size-200);
}

* {
  color: var(--color-neutral-100);
}

/* Top Menu */
body {
  background: var(--hero-color);
}

header {
  --thickness: 4px;
  display:flex !important;
  justify-content: space-evenly;
  height: 10vh;
  margin-block-end: -10vh;
  padding-inline:2em;
  position: sticky;
  top: 0;
  z-index: 2000;
  transition: background 300ms ease;
  /* background: oklch(from var(--color-primary-400) calc(l - 0.47) c h / 0.5); */
  /* background: linear-gradient(to top, transparent 0, oklch(from var(--color-primary-400) calc(l - 0.47) c h  ) 100%); */
  place-items: center;
  background: linear-gradient(to top, transparent 0, var(--hero-color) 100%);
}

/*
    This code gets applied for folks using
    browsers that support backdrop-filter.
  */
@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
  .backdrop {
    position: absolute;
    inset: 0;
    /*
        These prefixed properties are usually
        added automatically by tooling:
      */
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    /* background: linear-gradient(
        to bottom,
        hsl(0deg 0% 95%),
        transparent 50%
      ); */
    pointer-events: none;
  }

  .backdrop-edge {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--thickness);
    background: hsl(0deg 0% 100% / 0.1);
    -webkit-backdrop-filter: blur(12px) brightness(0.96);
    backdrop-filter: blur(12px) brightness(0.96);
    transform: translateY(100%);
    pointer-events: none;
  }
}

/*
    This code gets applied for folks using
    browsers that support mask-image. This
    adds the "consider near elements"
    optimization discussed in this article.
  */
@supports (mask-image: none) or (-webkit-mask-image: none) {
  .backdrop {
    height: 200%;
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0% 50%,
      transparent 50% 100%
    );
    mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
  }
  .backdrop-edge {
    height: 100%;
    inset: 0;
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--thickness),
      transparent var(--thickness)
    );
    mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--thickness),
      transparent var(--thickness)
    );
  }
}
nav {
  min-width: 70%;
}
.menu {
  position: relative;
  display: flex;

  margin-inline: auto;
  justify-content: center;
  align-items: center;
  z-index: 3;

  a {
    opacity: 0.5;
    margin-inline:0.75em;
    text-decoration: none;
    color: var(--color-neutral-100);
    font-family: var(--ff-secondary);
    font-size: var(--size-600);
    transition: opacity 1000ms ease-out;

    &:hover{
      transition: none;
      opacity: 1;;
    }
  }
}

.header__logo{
  position: relative;
  z-index:2;
  font-family: var(--ff-primary);
  font-size: var(--size-500);

  a{
    text-decoration: none;
  }
}

.header__icons{
  display:flex;
  justify-content: center;
  gap:10%;
  position: relative;
  min-width: 10%;
  z-index: 2;
  overflow: clip;

  svg{
  
    aspect-ratio: 1;
    stroke:var(--color-neutral-100);
    stroke-width: 3px;
    fill:none;
  }
  
}

.changeTheme{
  display:inline-grid;
  place-content: center;
  >svg{
    grid-area:1/1;
  }
}
.sun,.moon, .prev, .globe, .next, .dot, .faq__arrow{
  transition: transform;
  transition-timing-function:  var(--boop-easing, ease);
  transition-duration: var(--boop-duration, 1s); ;
}

.sun{
  --rotate:30deg;
  --scale:1.05;
}
.moon{
  --rotate: -20deg;
  --scale:1.05;
  
}
.globe{
  --skewX:10deg;
  /* --scale:1.05 */
  --skewY:10deg;
}
.next{

  --x:2px;
}
.prev{
  --x: -2px;
}
.dot{
   --scale:1.2;
}
.faq__arrow{
  --y:5px;
}

.boop{
  transform:
  translate(var(--x, 0), var(--y, 0))
  rotate(var(--rotate, 0))
   scale(var(--scale, 1))
    skew(var(--skewX, 0), var(--skewY, 0));
}

.rotate{
  transform-origin: bottom left;
  transform: rotate(90deg) translate(100%, 100%);
}

/* Hero */
.hero {
  position: relative;
  background-color: rgb(165, 165, 238);
  background: var(--hero-color);
}

.testsvg {
  position: absolute;
  bottom: 0;
}

.hero__container {
  height: 100vh;
  display: flex !important;
  justify-content: space-around;
}

.hero__images {
  display: grid;
  place-content: center;
  align-items: baseline;
  position: relative;
  width:100%;

  >*{
    grid-area: 1/1;
  }
}



.logo {
  /* justify-self: center;
  align-self: start; */
  /* width: 60%; */
  scale:0.6;
  /* margin-block-start:6rem; */
  /* position:absolute;
  top:0;
  left:-30%; */
  transform-origin: center;
  pointer-events: none;
   will-change: filter;

  
  rotate: -15deg;
   filter: drop-shadow(5px 5px 0px var(--color-primary-800));
    transition: filter 0.1s ease-out;
    fill:var(--color-primary-400);
    font-family: var(--ff-primary);

    .one{
      font-size: 343.52px;
        letter-spacing: .07em;
    }
    .two{
      font-size: 196.08px;
    }
    .three{
      font-size: 230px;
    }
}

.hero__text {
  --border-radius: 10px;
  --button-width: 12em;
  --button-height: 2.5em;
  max-width: 60%;
  display: grid;
  place-items: center;
}

.hero__text-container {
  padding: var(--size-600);
  /* border:2px solid black; */
  display: grid;
  > h1 {
    font-size: var(--size-700);
    line-height: 1;
    margin-block: var(--size-400);
  }

  > p {
    font-size: var(--size-500);
    margin-block: var(--size-400);
  }

  > a {
    font-size: var(--size-500);
    font-family: var(--ff-primary);
    justify-self: center;
    text-decoration: none;
  }
}

.hero__svg-bg{
  .treetop__bottom{
    filter: drop-shadow(
        5px 5px 5px oklch(from var(--color-primary-400) calc(l - 0.4) c h)
      );
  }
}

.hero__svg-bg,
.faq__svg-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  overflow: clip;
  pointer-events: none;
  > svg {
    display: block;
    max-width: revert;
    width: 100%;
    min-width: 5400px;
    overflow: clip;
    /* transform: translateY(1px); */

    /* > * {
      filter: drop-shadow(
        5px 5px 5px oklch(from var(--color-primary-400) calc(l - 0.4) c h)
      );
    } */

    .treetop__top, .d, .e, .f {
      fill: oklch(from var(--color-primary-400) calc(l - 0.3) c h);
    }
    .treetop__middle, .b {
      fill: oklch(from var(--color-primary-400) calc(l - 0.4) c h);
    }
    .treetop__bottom, .c {
      fill: oklch(from var(--color-primary-400) calc(l - 0.47) c h);
    
    }
    .d {
      fill: oklch(from var(--color-primary-400) calc(l + 0.1) c h);
    }
    .f {
      fill: oklch(from var(--color-primary-400) calc(l + 0.3) c h);
    }

    /* > path:first-of-type {
      fill: oklch(from var(--color-primary-400) calc(l + 0.1) c h);
    }

    > path:nth-of-type(2) {
      fill: oklch(from var(--color-primary-400) calc(l + 0) c h);
    }

    > path:last-of-type {
      fill: oklch(from var(--color-primary-400) calc(l - 0.1) c h);
    } */
  }
}

/* Perchè */

.perche {
  position: relative;
  /* background-color: var(--color-primary-400); */
  /* background: radial-gradient(
    circle at top,
    oklch(from var(--color-primary-400) calc(l - 0.1) c h) 40%,
    oklch(from var(--color-primary-400) calc(l - 0.05) c h) 43% 63%,
    oklch(from var(--color-primary-400) calc(l - 0.1) c h) 66% 100%
  ); */
  /* background: radial-gradient(red 10px, yellow 30%, dodgerblue 50%); */
  background: oklch(from var(--color-primary-400) calc(l - 0.47) c h);
  color: white;
}
.perche__container {
  > div {
    flex-wrap: wrap;
    gap: var(--size-600);
    margin-block: var(--size-600);
    > div {
      position: relative;
      flex: 1 1 30%;
      min-width: 250px;
      padding-inline:0.5em;

      >svg{
        position: absolute;
        right:0;
        fill:white;

      }
    }

    >div:not(div:last-of-type){
      border-right:1px solid white;
    }
  }
}


.perche__grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);

  > div:nth-of-type(1) {
    grid-column: 1 / span 9;
  }
  > div:nth-of-type(2) {
    grid-column: 2 / span 9;
  }
  > div:nth-of-type(3) {
    grid-column: 3 / span 9;
  }
  > div:nth-of-type(4) {
    grid-column: 4 / span 9;
  }
  > div:nth-of-type(5) {
    grid-column: 5 / span 9;
  }
  > div:nth-of-type(6) {
    grid-column: 6 / span 9;
  }
  > div:nth-of-type(7) {
    grid-column: 7 / span 9;
  }
  > div:nth-of-type(8) {
    grid-column: 8 / span 9;
  }
  > div:nth-of-type(9) {
    grid-column: 9 / span 9;
  }

  > div {
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    /* margin-block: var(--size-900); */
    > div {
      max-width: 80%;
      /* padding:var(--size-300); */

      > p {
        font-size: var(--size-400);
      }
    }
  }
}

.seed {
  width: 200px;

  .dirt {
    transform: translateY(200%);
  }
}
.perche__tiny-svg {
  --aniTimer: 1500ms;
  display: grid;
  place-items: center;
  margin-inline: auto;
  max-width: 200px;
  aspect-ratio: 1;
  overflow: clip;

  > svg {
    max-width: 50%;
  }

  .acorn {
    max-width: 125px;
  }

  .nut {
    fill: burlywood;
  }

  .point {
    fill: burlywood;
  }

  .shine {
    fill: white;
  }

  .hat {
    fill: brown;
  }

  .hat__line {
    stroke: white;
  }

  .plant {
    fill: green;
  }

  .mound {
    fill: burlywood;
  }
  .mound__lines {
    stroke: brown;
  }
  /* .plant{
    
  } */
  .leaf {
    fill: green;
  }
  .nerve {
    stroke: white;
  }
  .stem {
    fill: white;
    transform: translateY(200%);
  }
  .big-leaf__inside {
    opacity: 0;
    fill: darkgreen;
  }
  .big-leaf__outside {
    stroke-dasharray: 210;
    stroke-dashoffset: 210;
    stroke: white;
    fill: transparent;
  }
  .leaves {
    fill: green;
    stroke: white;
  }

  .branches {
    stroke: white;
    fill: none;
  }
  .trunk {
    fill: white;
  }
}

.grow {
  --y: 29px;

  .leaf {
    transform: scale(0) translateY(var(--y));
  }
  .dirt {
    transform: translateY(0);
  }
}

.flourish {
  --y: 0;

  .tiny-leaf {
    transform: scale(0);
  }
}
.seed__ani {
  .acorn {
    transform-box: fill-box;
    transform-origin: center;
    animation: SVGdrop var(--aniTimer) forwards;
    animation-timing-function: var(--spring-easing);
  }

  .dirt {
    transform-box: fill-box;
    transform-origin: center;
    animation: SVGpopin 2s forwards;
    animation-delay: var(--aniTimer);
    animation-timing-function: var(--spring-easing);
  }
}

.grow__ani {
  .stem {
    transform-box: fill-box;
    transform-origin: center;
    animation: SVGpopin var(--aniTimer) forwards;
    animation-timing-function: var(--spring-easing);
    animation-delay: calc(var(--aniTimer) / 2);
  }

  .dirt {
    transform-box: fill-box;
    transform-origin: center;
    animation: SVGdown var(--aniTimer) forwards;
    animation-timing-function: var(--spring-easing);
  }
  .leaf {
    --delay: 200ms;

    transform-box: fill-box;
    transform-origin: center;
    animation: SVGscale var(--aniTimer) forwards;

    animation-timing-function: var(--spring-easing);
  }
  .leaf-bl {
    animation-delay: calc(
      var(--aniTimer) + calc(var(--delay) * 0) + calc(var(--aniTimer) / 2)
    );
  }
  .leaf-br {
    animation-delay: calc(
      var(--aniTimer) + calc(var(--delay) * 1) + calc(var(--aniTimer) / 2)
    );
  }
  .leaf-tl {
    animation-delay: calc(
      var(--aniTimer) + calc(var(--delay) * 2) + calc(var(--aniTimer) / 2)
    );
  }
  .leaf-tr {
    animation-delay: calc(
      var(--aniTimer) + calc(var(--delay) * 3) + calc(var(--aniTimer) / 2)
    );
  }
}

.flourish__ani {
  .tiny-leaf {
    transform-box: fill-box;
    transform-origin: center;
    animation: SVGscale var(--aniTimer) forwards;
    animation-delay: calc(var(--aniTimer) * 2);
    animation-timing-function: var(--spring-easing);
  }
  .big-leaf__inside {
    transform-box: fill-box;
    transform-origin: center;
    animation: SVGopacity var(--aniTimer) forwards;

    animation-timing-function: var(--spring-easing);
    animation-delay: var(--aniTimer);
  }

  .big-leaf__outside {
    transform-box: fill-box;
    transform-origin: center;
    animation: SVGdraw var(--aniTimer) forwards;

    animation-timing-function: var(--spring-easing);
  }
}

@keyframes SVGdrop {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
  }

  30% {
    transform: translateY(-10%) scale(0.8) rotate(0deg);
  }

  60% {
    transform: translateY(-10%) scale(0.8) rotate(360deg);
  }

  100% {
    transform: translateY(200%) scale(0.8) rotate(360deg);
  }
}

@keyframes SVGpopin {
  0% {
    transform: translateY(200%) scale(0.8);
  }

  100% {
    transform: translateY(var(--y, 0)) scale(1);
  }
}
@keyframes SVGdown {
  0% {
    transform: translateY(0%) scale(1);
  }

  100% {
    transform: translateY(75%) scale(1);
  }
}

@keyframes SVGscale {
  0% {
    transform: scale(0) translateY(var(--y));
  }

  100% {
    transform: scale(1) translateY(var(--y));
  }
}
@keyframes SVGopacity {
  100% {
    opacity: 1;
  }
}

@keyframes SVGdraw {
  100% {
    stroke-dashoffset: 0;
  }
}

.grow {
  height: 120px;
}
.flourish {
  max-width: 150px;
}
.thing {
  font-size: 3rem;
  font-family: var(--ff-primary);
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  text-align: center;
}

/* .perche__container {
  position: relative;

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 0.5fr 1fr 1fr;
    margin-block: var(--size-800);
    > div {
      border: 2px solid black;
      justify-content: center;
      align-items: center;
      grid-row: 3;
      margin-block: var(--size-900); 
      > div {
        max-width: 80%;
         padding:var(--size-300);/

        > p {
          font-size: var(--size-400);
        }
      }
    }
  }

  > div:nth-of-type(1) {
    > div:nth-of-type(1) {
      grid-column: 1;
    }
    > div:nth-of-type(2) {
      grid-row: 4;
      grid-column: 2;
    }
    > div:nth-of-type(3) {
      grid-column: 3;
    }
  }
  > div:nth-of-type(2) {
    > div:nth-of-type(1) {
      grid-column: 1;
      grid-row: 4;
    }
    > div:nth-of-type(2) {
      grid-column: 2;
      grid-row: 3;
    }
    > div:nth-of-type(3) {
      grid-column: 3;
      grid-row: 4;
    }
  }
  > div:nth-of-type(3) {
    > div:nth-of-type(1) {
      rotate: 15deg;
      transform: translateX(-15%);
      grid-row: 3;
      grid-column: 1;
    }
    > div:nth-of-type(2) {
      transform: translateY(15%);
      grid-row: 3;
      grid-column: 2;
    }
    > div:nth-of-type(3) {
      transform: translateX(15%);
      rotate: -15deg;
      grid-row: 3;
      grid-column: 3;
    }
  }
} */

.perche__svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid red;
  pointer-events: none;
}

/* Portfolio */

.portfolio {
  background: oklch(from var(--color-primary-400) calc(l - 0.47) c h);
  padding-block: 10rem;
}

.portfolio__container {
  position: relative;
  height: 60vh;
}

.portfolio__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  blockquote {
    margin-block-start: var(--size-400);
    margin-block-end: var(--size-100);
    margin-inline-start: var(--size-200);
    padding-inline-start: var(--size-200);
    border-left: 2px solid var(--color-neutral-100);
  }
}

.portfolio__slide-text {
  position: relative;
  z-index: 2;
  max-width: 60%;
  p {
    max-width: 30ch;
  }
}

.portfolio__slide-logo {
  position: absolute;
  width: 400px;
  left: 25%;
  top: 5%;
  /* transform:translateX(-50%); */
  z-index: 1;
  > img {
    opacity: 0;
    width: 100%;
  }
}
.portfolio__slide-images {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  max-width: 50%;
  /* gap:1em; */
  overflow-x: clip;
  &:hover {
    > img {
      animation-play-state: paused;
    }
    > img:not(:hover) {
      max-width: 0%;
      border: none;
    }
  }
  > img {
    max-width: 25%;
    border: 2px solid var(--color-neutral-100);
    object-fit: cover;
    opacity: var(--opacity, 1);
    filter: grayscale(1);
    transition: filter 300ms ease-in-out, max-width 300ms ease-in-out,
      border 300ms ease-in-out, opacity 300ms ease-in-out;
    animation: oscillate 1500ms alternate infinite ease-in-out both;
    animation-delay: var(--delay);
    &:hover {
      filter: grayscale(0);
      max-width: 100%;
      opacity: 1;
    }
  }
}

@keyframes oscillate {
  0% {
    transform: translate(var(--x, 0), var(--billow)) scale(var(--s, 1));
  }

  100% {
    transform: translate(var(--x, 0), calc(var(--billow) * -5)) scale(var(--s, 1));
  }
}

.cit {
  font-size: var(--size-100);
}
.slide__text {
  margin-block: var(--size-400);
  font-size: var(--size-300);
}

.carousel__dots {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-top: 1em;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-neutral-300);
  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
 
}

.dot.active {
  background-color: var(--color-primary-400);
}

.carousel__buttons {
  display: flex;
  justify-content: center;
  gap: 10rem;
  > svg {
    cursor: pointer;
    stroke: var(--color-neutral-100);
    max-width: 3rem;
  }
}

.slide-enter {
  transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
}
.slide-enter-start {
  opacity: 0;
  transform: translateX(50px);
}
.slide-enter-end {
  opacity: 1;
  transform: translateX(0);
}

/* Leaving */
.slide-leave {
  transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
}
.slide-leave-start {
  opacity: 1;
  transform: translateX(0);
}
.slide-leave-end {
  opacity: 0;
  transform: translateX(-50px);
}

.logo-animate {
  animation: logoFadeIn 6000ms ease forwards;
}

@keyframes logoFadeIn {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }

  10% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0.2;
  }
}

/* About Me */

.aboutme {
  position: relative;

  background-size: 40% 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-color: var(--color-primary-900);
}

.aboutme__svg {
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 500px;
}

.aboutme__flex {
  display: flex !important;
  flex-wrap: wrap;
  max-width: 60%;
  justify-self: end;
  > div {
    display: grid;
    place-items: center;
    flex: 1 1 25%;
    min-width: 250px;
    > img {
      max-width: 170px;
    }
    > img + img {
      max-width: 135px;
    }
  }
}

.aboutme__text {
  > p {
    font-size: var(--size-400);
  }
}

.card {
  padding: 1em;
  margin: 1em;
  background-color: oklch(from var(--color-neutral-100) l c h / 0.1);

  /* border: 10px solid oklch(from var(--color-primary-400) calc(l + 0.11) c h); */
  border-radius: 10px;

  > p {
    font-size: var(--size-400);
  }
}

.cube__container {
  perspective: 800px;
}

.cube {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 15s linear infinite;
}
.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube-face--front {
  transform: rotateY(0deg) translateZ(150px);
}

.cube-face--back {
  transform: rotateY(180deg) translateZ(150px);
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}



/* Prezzi */

.prezzi {
  background-color: var(--color-primary-900);
  overflow-x: clip;
}

.prezzi__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height:100vh;
}

.prezzi__text {
  max-width: 40%;

  > p {
    margin-block: var(--size-400);
    font-size: var(--size-400);
  }
}

.prezzi__items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  

  width: 60%;

  perspective: 1000px;
}

.prezzi__item {

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-200);
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--color-accent-800);
  transition: all 2.5s ease;
  transform-style: preserve-3d;
  left: 0;
  width: 600px;
  /* animation: oscillate 1500ms alternate infinite ease-in-out both; */
    animation-delay: var(--delay);

  > p {
    max-width: 40ch;
    margin-block: var(--size-200);
    font-size: var(--size-400);
  }
  ù > ul + p:not(p:last-of-type) {
    font-family: var(--ff-primary);
    font-size: var(--size-400);
  }
  ul {
    padding-inline: var(--size-300);
  }

  li {
    font-family: var(--ff-secondary);
    margin-block: var(--size-100);
  }

  > img {
    max-width: 50px;
  }
}



.prezzi__tab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30%;
  padding: var(--size-200);
  font-family: var(--ff-primary);
  font-size: var(--size-500);

  > h4 {
    font-size: var(--size-500);
  }

  > svg {
    stroke: var(--color-neutral-100);
    cursor: pointer;
  }
}


.drop-enter {
  height: 0;
  margin-block: 0;
  overflow: hidden;
  transition: height 900ms ease, margin 900ms ease;
}

.drop-enter-start {
  height: 0;
  margin-block: 0;
}

.drop-enter-end {
  height: auto;
  margin-block: 0rem;
}

.drop-leave {
  height: auto;
  overflow: hidden;
  margin-block: 1rem;
  transition: height 900ms ease, margin 900ms ease;
}

.drop-leave-start {
  height: auto;
  margin-block: 1rem;
}

.drop-leave-end {
  height: 0;
  margin: 0;
  margin-block: 0;
}


.prezzi__buttons {
  width:100%;
  margin:auto;
 
  display: flex;
  justify-content: space-evenly;

  fill: var(--color-neutral-100);
  stroke: var(--color-neutral-100);
  > svg {
   
    cursor: pointer;
    stroke: var(--color-neutral-100);
    max-width: 3rem;
  }
}

.rotatePrezzi{
  transform: rotate(180deg);
}

/* Contatti e FAQ */

.faq__svg-bg {
  top: 0;
  bottom: auto;
  rotate: 180deg;

  z-index:2;


  .treetop__top{
    filter:drop-shadow(-5px -5px 50px oklch(from var(--color-primary-400) calc(l - 0.4) c h))
  }

  .treetop__middle{
filter:drop-shadow(-5px -5px 5px oklch(from var(--color-primary-400) calc(l - 0.4) c h));
  }

  .treetop__bottom{
filter:drop-shadow(-5px -5px 50px oklch(from var(--color-primary-400) calc(l - 0.47) c h));
  }
}




 
.treetop__bottom.bottom{
  transform: translateY(2px);
}




.bgtest{
   --boop:oklch(0.45 0 0);
   --boop2: oklch(36.909% 0.03156 72.365);
  position: absolute;
  /* width:100%;
  height:100%; */
  top:0;
  /* rotate:180deg; */
  stroke:black;
  fill:none;
  filter: drop-shadow(10px 5px 10px black);

  .tree{
 
    fill: var(--boop);
    stroke-width: 1px;

     
    }
  
  .outer1{
    fill: oklch(from var(--boop) calc(l + 0.05) c h );
   
   
   
  }
  .outer2{
    fill: oklch(from var(--boop) calc(l + 0.10) c h );
   
   
  }
  .outer3{
    fill: oklch(from var(--boop) calc(l + 0.15) c h );
      
  }
  .outer4{
    fill: oklch(from var(--boop) calc(l + 0.20) c h );
        
  }
  .outer5{
     fill: oklch(from var(--boop) calc(l + 0.25) c h );
    
  }

  .circle{
    stroke:none;
    fill:black;
  }

  .h, .g{
    stroke-width: 2px;
    fill:blue;
  }


  >.legs{
    z-index:100;
  }
}
.contatti__container {
  --border-radius: 50%;
  --button-font-size: var(--size-700);
  --button-width: 200px;
  --button-height: 200px;
  display: flex;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: space-between;
   min-height: 100vh;
   >*{
    visibility: hidden;
   }
  
>button{
  max-width:25%;
}
>div{
  max-width:60%;
}
}

.faq {
  background-color: var(--end-color);
  overflow-y: clip;

   position: relative; 
   /* height:200vh; */
}

.faq__container {
 position: relative;
 z-index: 1;
 width:100%;

}

.faq__item {
  margin-block: var(--size-600);
}

.faq__header {
  display: flex;
  justify-content: space-between;
  padding: var(--size-200);

  border: 2px solid blue;

  > h4 {
    font-size: var(--size-500);
  }

  > svg {
    border: 2px solid red;
  }
}
.faq__text {
  overflow: clip;
  > p {
    --y: -500px;
    will-change: max-height, transform;
    font-size: var(--size-400);
    padding-inline: var(--size-400);
    /* border:2px solid green; */
    background: purple;
    transition: transform 900ms, max-height 900ms;
  }
}

.faq__spacer {
  height: 0;
  transition: height 900ms;
  width: 100%;
}

.faq__item[data-open="true"] .faq__spacer,
.prezzi__item[data-open="true"] .faq__spacer {
  height: 1rem;
}

.faq-drop-enter {
  transition: transform 900ms, max-height 900ms;
  max-height: 0px;
  transform: translateY(var(--y));
}
.faq-drop-enter-start {
  max-height: 0px;
  transform: translateY(var(--y));
}
.faq-drop-enter-end {
  max-height: calc(-1 * var(--y));
  transform: translateY(0px);
}
.faq-drop-leave {
  transition: transform 900ms, max-height 900ms;
  max-height: calc(-1 * var(--y));
  transform: translateY(0);
}
.faq-drop-leave-start {
  max-height: calc(-1 * var(--y));
  transform: translateY(0);
}
.faq-drop-leave-end {
  max-height: 0px;
  transform: translateY(var(--y));
}


.footer{
  position: relative;
  width:100%;
  height:10vh;
  z-index:5;
  background-color: black;
}

.pushable {
  font-family: var(--ff-primary);
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--border-radius);
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--border-radius);
  background: linear-gradient(
    to left,
    var(--color-primary-400) 0%,
    var(--color-primary-800) 8%,
    var(--color-primary-400) 92%,
    var(--color-primary-800) 100%
  );
}

.front {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--button-width);
  height: var(--button-height);
  position: relative;
  /* padding: 12px 42px; */
  border-radius: var(--border-radius);
  font-size: var(--button-font-size);
  color: white;
  background: var(--color-primary-400);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}
.pushable:hover {
  filter: brightness(110%);
}

.pulse {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 5005435345345px;
  box-shadow: 0px 0px 1px 1px #0000001a;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
  }
}
/* Side Nav */

.side-nav {
  position: fixed;

  right: 10%;
  top: 50%;
  translate: 0 -50%;

  height: 80vh;

  /* width:10vw; */
  border-radius: 50px;

  > ul {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-800);
    gap: 5px;
    padding: 0.5rem;
    border-radius: 50px;
    > li {
      width: 2.5rem;

      aspect-ratio: 1;

      /* margin-block:1rem; */
      border-radius: 50%;
      background-color: var(--color-primary-400);
    }
  }
  .first {
    margin-block-start: 0 !important;
  }

  .last {
    margin-block-end: 0 !important;
  }
}

.sparkle-wrapper {
  position: relative;
  display: inline-block;
}

.sparkle-text {
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.sparkle-svg {
  position: absolute;
  pointer-events: none;
  animation: sparkleTwinkle 800ms ease-out forwards;
  z-index: 0;
}

@keyframes sparkleTwinkle {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(90deg);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(180deg);
    opacity: 0;
  }
}

/* .card-container{
    display:flex;
    flex-wrap:wrap;
    
    gap:5%;
    justify-content: space-between;

    >.card{
        
        max-width: 25%;
        padding:1em;
        margin:1em;
        background-color: var(--color-primary-400);
        border: 10px solid  oklch(from var(--color-primary-400) calc(l + 0.11) c h  );
        border-radius:10px;
        >img{
            max-width: 35px;
        }
    }
} */
