name: Deploy to VPS

on:
  push:
    branches:
      - main  # or 'prod' if you use separate branches

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          port: 22
          script: |
            cd /var/www/madebyshu
            git config --global --add safe.directory /var/www/madebyshu
            git pull origin main
            npm install --production
            pm2 restart madebyshu
